<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__body">
        <a href="./index.html" class="custom-logo-link">
          <img src="./img/icons/logo1.svg" alt="" class="logo1" />
          <img src="./img/icons/logo2.svg" alt="" class="logo2" />
        </a>

        <div class="header__nav">
          <load src="partials/header/parts/nav.html" />
        </div>

        <button class="burger-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>

  <load src="partials/header/parts/mob.html" />
</header>
