<!-- <div class="cookie is-visible"> -->
<div class="cookie">
  <div class="container">
    <div class="cookie__body">
      <h4 class="title4">Наш сайт використовує cookie</h4>
      <p class="cookie__text">
        Продовжуючи користуватися сайтом, ми приймаємо ваш дозвіл на
        використання файлів cookie, як зазначено в нашій
        <a href="./policy.html">Політиці конфіденційності</a>
      </p>
      <div class="cookie__wrapp">
        <button type="button" class="accept-all btn-def">
          <span>Приняти всі</span>
        </button>
        <button type="button" class="accept-must btn-def brb">
          <span>Прийняти обовʼязкові</span>
        </button>
      </div>
    </div>
  </div>
</div>
