<section class="join sec-pt">
  <div class="join__wrapp">
    <div class="container">
      <div class="join__body">
        <div class="join__box">
          <h2 class="join__title">
            Долучитися<br />
            до організації
          </h2>
          <p class="join__text">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </p>
          <button type="button" class="join__btn btn-def bgw">
            <span>Стати учасником</span>
          </button>
        </div>

        <div class="join__vector no-select">
          <img src="./img/decor/join_vector.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
