<!-- <div class="joinform is-visible"> -->
<div class="joinform">
  <div class="joinform__body">
    <div class="joinform__img-wrapp no-select">
      <img src="./img/content/joinform_1.jpg" alt="" class="cover" />
    </div>

    <button type="button" class="joinform__close">
      <img src="./img/icons/close.svg" alt="" class="no-select" />
    </button>

    <div class="joinform__wrapp">
      <div class="joinform__patr1 is-transition is-step">
        <h3 class="title3">Долучитись</h3>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.
        </p>

        <form class="joinform__form">
          <div class="joinform__form-wrapp">
            <!-- <label class="joinform__label error"> -->
            <label class="joinform__label">
              <p>Ваше імʼя</p>
              <input type="text" name="join-name" placeholder="Пишіть тут" />
              <span></span>
            </label>
            <label class="joinform__label">
              <p>Ваш email</p>
              <input type="text" name="join-email" placeholder="Пишіть тут" />
              <span></span>
            </label>
            <label class="joinform__label">
              <p>Коментар</p>
              <textarea name="join-mess" placeholder="Пишіть тут"></textarea>
              <span></span>
            </label>
          </div>

          <!-- <button type="submit" class="joinform__btn btn-def disabled"> -->
          <button type="submit" class="joinform__send btn-def">
            <span>Подати заявку</span>
          </button>
        </form>
      </div>

      <div class="joinform__patr2">
        <h3 class="title3">Успішно!</h3>
        <div class="joinform__content">
          <div class="joinform__done-wrapp no-select">
            <img src="./img/decor/joinform_done.png" alt="" />
          </div>
          <p class="joinform__desc">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </p>
          <button type="button" class="joinform__done btn-def brb">
            <span>До сайту</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
