<section class="mailing sec-pt">
  <div class="mailing__wrapp">
    <div class="container">
      <div class="mailing__body">
        <div class="mailing__vector no-select">
          <img src="./img/decor/mailing_vector.png" alt="" />
        </div>

        <div class="mailing__box">
          <h2 class="title1">Розсилка новин</h2>
          <p class="mailing__text">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </p>

          <form class="mailing__form">
            <!-- <label class="mailing__email error"> -->
            <label class="mailing__email">
              <p>Ваш email</p>
              <input
                type="text"
                name="mailing-email"
                placeholder="example@gmail.com"
              />
              <span></span>
            </label>
            <!-- <label class="mailing__checkbox error"> -->
            <label class="mailing__checkbox">
              <input type="checkbox" name="mailing-check" />
              <span></span>
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla
              </p>
            </label>

            <!-- <button type="submit" class="mailing__send btn-def brw disabled"> -->
            <button type="submit" class="mailing__send btn-def brw">
              Підписатись
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
