<section class="ourcontact">
  <div class="container">
    <div class="ourcontact__body">
      <h2 class="title2">Наші контакти</h2>
      <div class="ourcontact__wrapp">
        <div class="ourcontact__info">
          <address class="ourcontact__address">
            <div>
              <p>Наш телефон</p>
              <a href="tel:+380000000000">+38 000 000 00 00</a>
            </div>
            <div>
              <p>Наша пошта</p>
              <a href="mailto:example@company.com">example@company.com</a>
            </div>
            <div>
              <p>Наша адреса</p>
              <a
                href="https://maps.app.goo.gl/fkGpqfhdsrn58ynDA"
                target="_blank"
                rel="noopener noreferrer"
              >
                76018 м. Івано-Франківськ,<br />
                вул. Шевченка 4
              </a>
            </div>
          </address>

          <div class="ourcontact__soc">
            <p>Спільнота</p>
            <ul class="ourcontact__list-soc">
              <li>
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </a>
              </li>
              <li>
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <img src="./img/icons/soc_2.svg" alt="" />
                </a>
              </li>
            </ul>
          </div>
        </div>

        <form class="ourcontact__form">
          <div class="ourcontact__form-wrapp">
            <!-- <label class="ourcontact__label error"> -->
            <label class="ourcontact__label">
              <p>Ваше імʼя</p>
              <input type="text" name="our-name" placeholder="Пишіть тут" />
              <span></span>
            </label>
            <label class="ourcontact__label">
              <p>Ваш email</p>
              <input type="text" name="our-email" placeholder="Пишіть тут" />
              <span></span>
            </label>
            <label class="ourcontact__label">
              <p>Коментар</p>
              <textarea name="our-mess" placeholder="Пишіть тут"></textarea>
              <span></span>
            </label>
          </div>

          <label class="ourcontact__checkbox">
            <input type="checkbox" />
            <span></span>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur
            </p>
          </label>

          <div class="ourcontact__send-wrapp">
            <!-- <button type="submit" class="ourcontact__btn btn-def disabled"> -->
            <button type="submit" class="ourcontact__send btn-def">
              <span>Відправити</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
