<section class="paragraph">
  <div class="container">
    <div class="paragraph__body">
      <div class="paragraph__sidebar">
        <ul class="paragraph__article ankor"></ul>
      </div>

      <div class="paragraph__content">
        <h2>
          Підзаголовок duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore
        </h2>
        <b>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </b>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </p>
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </p>

        <div class="paragraph__swiper">
          <div class="paragraph__container">
            <div class="paragraph__splide splide">
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <div class="paragraph__img-wrapp no-select">
                      <img
                        src="./img/content/paragraph_1.jpg"
                        alt=""
                        class="cover"
                      />
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="paragraph__img-wrapp no-select">
                      <img
                        src="./img/content/mission_1.jpg"
                        alt=""
                        class="cover"
                      />
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="paragraph__img-wrapp no-select">
                      <img
                        src="./img/content/hero_1.jpg"
                        alt=""
                        class="cover"
                      />
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="paragraph__img-wrapp no-select">
                      <img
                        src="./img/content/hero_2.jpg"
                        alt=""
                        class="cover"
                      />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="paragraph-arrows">
            <div class="paragraph-arrows__body">
              <button type="button" class="paragraph-arrows__prev">
                <span>Назад</span>
              </button>
              <span class="paragraph-arrows__number">1/1</span>
              <button type="button" class="paragraph-arrows__next">
                <span>Далі</span>
              </button>
            </div>
          </div>
        </div>

        <p>
          Lorem ipsum dolor sit amet,
          <a href="#">consectetur adipiscing elit</a>, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation <a href="#">ullamco laboris nisi</a> ut
          aliquip ex ea commodo consequat.
          <a href="#">Duis aute irure dolor in reprehenderit</a> in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum
        </p>

        <h2>
          Підзаголовок duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p>
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </p>

        <div class="paragraph__uploaded">
          <a href="./img/content/vision_2.jpg" download class="file-link">
            <span class="file-name">Прикріпленний файл</span>
            <div class="no-select">
              <img src="./img/icons/download.svg" alt="Download icon" />
            </div>
          </a>
        </div>

        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </p>

        <ul class="paragraph__points">
          <li>
            <div class="no-select">
              <span><img src="./img/icons/banner_2.svg" alt="" /></span>
            </div>
            <h5>Ut enim ad minim veniam</h5>
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum
            </p>
          </li>
          <li>
            <div class="no-select">
              <span><img src="./img/icons/banner_5.svg" alt="" /></span>
            </div>
            <h5>Ut enim ad minim veniam</h5>
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum
            </p>
          </li>
          <li>
            <div class="no-select">
              <span><img src="./img/icons/banner_6.svg" alt="" /></span>
            </div>
            <h5>Ut enim ad minim veniam</h5>
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum
            </p>
          </li>
          <li>
            <div class="no-select">
              <span><img src="./img/icons/banner_7.svg" alt="" /></span>
            </div>
            <h5>Ut enim ad minim veniam</h5>
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum
            </p>
          </li>
        </ul>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </p>

        <div class="paragraph__soc">
          <p>Поділитись через:</p>
          <ul>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/par_1.svg" alt="" class="no-select" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/par_2.svg" alt="" class="no-select" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/par_3.svg" alt="" class="no-select" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/par_4.svg" alt="" class="no-select" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
