@media screen and (max-width: 960px) {
}

@media screen and (max-width: 500px) {
}

// <button type="button" class="btn-def">Стати учасником</button>
// <a href="#" class="btn-more bgr">
//   <span class="btn-text">Читати далі</span>
//   <span class="btn-icon"></span>
//   <span class="btn-circle"></span>
// </a>

.sec-pt {
  padding-top: 10rem;
}

.title1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.12;
  text-transform: uppercase;
  &.tcw {
    color: var(--cw);
  }
}
.title2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.16;
  text-transform: uppercase;
}
.title3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
}
.title4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.33;
}

.btn-def {
  display: block;
  text-align: center;
  text-wrap: nowrap;
  padding: 0.875rem 1.5rem;
  width: fit-content;
  border-radius: 2rem;
  color: var(--cw);
  background-color: var(--cb);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.42;
  transition: all 150ms ease-in;
  span {
    display: block;
    transform: translateY(0.08rem);
  }

  &.bgw {
    color: var(--cb);
    background-color: var(--cw);
  }
  &.brb {
    color: var(--cm);
    border: 0.0625rem solid var(--cm);
    background-color: transparent;
  }
  &.brw {
    border: 0.0625rem solid var(--cw);
    background-color: transparent;
    &:hover,
    &:focus {
      color: var(--cm);
      background-color: var(--cw);
    }
  }

  &:hover,
  &:focus {
    color: var(--cw);
    background-color: var(--cm);
  }
}
.btn-more {
  position: relative;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  width: 7.375rem;
  .btn-text {
    padding-top: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-right: 1.5rem;
    color: var(--cw);
    height: 100%;
    font-weight: 600;
    line-height: 1.33;
    transform: translateX(1.75rem);
    font-size: 0.5rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }
  .btn-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.5rem;
    margin: auto;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_23_19572)'%3E%3Cpath d='M6.00003 4C6.00003 4 10 6.94593 10 8C10 9.05413 6 12 6 12' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_23_19572'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
  .btn-circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: var(--cm);
  }

  &.bgb {
    .btn-circle {
      background-color: var(--cb);
    }
  }
  &.bgl {
    .btn-circle {
      background-color: var(--cl);
    }
  }
  &.bgw {
    .btn-circle {
      background-color: var(--cw);
    }
    .btn-text {
      color: var(--cb);
    }
    .btn-icon {
      filter: brightness(0) saturate(100%) invert(55%) sepia(68%)
        saturate(6180%) hue-rotate(199deg) brightness(88%) contrast(99%);
    }
  }
  &.bgv {
    .btn-circle {
      background-color: var(--cv);
    }
  }
  &.bgr {
    .btn-circle {
      background-color: var(--cr);
    }
  }

  &:hover {
    .btn-circle {
      width: 100%;
    }
    .btn-text {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
      font-size: 0.75rem;
    }
    .btn-icon {
      transform: translateX(0.25rem);
    }
  }
}

.filtercont {
  display: flex;
  align-items: center;
  gap: 1rem;

  .filter {
    &__item {
    }
    &__sort {
      .facetwp-facet {
        display: none;
      }
    }
    &__sort-btn {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.75rem;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      background-color: var(--cw);
      border: 0.0625rem solid var(--cf);
      transition: all 150ms ease-in;

      span {
        font-size: 1.125rem;
        line-height: 1.33;
        transform: translateY(0.08rem);
      }

      &::before {
        content: "";
        width: 1.25rem;
        height: 1.25rem;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M5.83301 3.33337V16.6667' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.167 15.8334V3.33337' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.33301 5.83336C8.33301 5.83336 6.49178 3.33338 5.83299 3.33337C5.17419 3.33337 3.33301 5.83337 3.33301 5.83337' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.667 14.1666C16.667 14.1666 14.8257 16.6666 14.167 16.6666C13.5082 16.6666 11.667 14.1666 11.667 14.1666' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
      &:hover {
        background-color: var(--cn);
      }

      .filter-old {
        display: none;
      }
      &.choice {
        .filter-new {
          display: none;
        }
        .filter-old {
          display: block;
        }
      }
    }
    &__type {
    }
  }
  .nice-select {
    display: flex !important;
    align-items: center !important;
    gap: 1rem !important;
    background-color: var(--cw) !important;
    padding: 0.75rem 1rem !important;
    border-radius: 0.5rem !important;
    border: 0.0625rem solid var(--cf) !important;
    height: auto !important;
    font-size: 1.125rem !important;
    line-height: 1.33 !important;
    &:after {
      border: none !important;
      width: 1.25rem !important;
      height: 1.25rem !important;
      margin-top: 0 !important;
      position: static !important;
      transform: rotate(0) !important;
      transform-origin: center !important;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_25_22629)'%3E%3Cpath d='M15 7.50004C15 7.50004 11.3176 12.5 10 12.5C8.68233 12.5 5 7.5 5 7.5' stroke='%230B0B0B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_25_22629'%3E%3Crect width='20' height='20' fill='white' transform='translate(20) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
    &:hover {
      background-color: var(--cn) !important;
    }
    &.open {
      &::after {
        transform: rotate(-180deg) !important;
      }
    }

    .list {
      border: 0.0625rem solid var(--cf) !important;
    }
    .list:hover .option:not(:hover) {
      color: var(--cm) !important;
    }
    .option {
      padding: 0.75rem 1rem !important;
      line-height: 1.33 !important;
      &:hover {
        color: var(--cw) !important;
        background-color: var(--cb) !important;
      }
      &.selected.focus {
        background-color: var(--cb) !important;
        color: var(--cw) !important;
      }
    }
  }
  .current {
    width: 12.5rem !important;
    font-size: 1.125rem !important;
    line-height: 1.33 !important;
    transform: translateY(0.08rem) !important;
  }
  .nice-select-dropdown {
    width: 100% !important;
  }
}

.function-arrows,
.paragraph-arrows {
  display: flex;
  justify-content: center;
  &__body {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  &__prev,
  &__next {
    width: 5rem;
    padding: 0.5rem 0.75rem 0.5rem 0.25rem;
    border-radius: 2rem;
    border: 0.0625rem solid var(--cm);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    transition: all 150ms ease-in;
    &::before,
    &::after {
      content: "";
      transition: all 150ms ease-in;
      width: 1rem;
      height: 1rem;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_25_24255)'%3E%3Cpath d='M6.00003 4C6.00003 4 10 6.94593 10 8C10 9.05413 6 12 6 12' stroke='%230B0B0B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_25_24255'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
    span {
      font-size: 0.875rem;
      font-weight: 700;
      transform: translateY(0.08rem);
      transition: all 150ms ease-in;
    }
    &:hover {
      background-color: var(--cm);
      span {
        color: var(--cw);
      }
      &::after,
      &::before {
        filter: brightness(0) saturate(100%) invert(93%) sepia(100%)
          saturate(0%) hue-rotate(47deg) brightness(103%) contrast(105%);
      }
    }
    &.is-disabled {
      cursor: default;
      opacity: 0.5;
      &:hover {
        background-color: var(--cw);
        span {
          color: var(--cm);
        }
        &::after,
        &::before {
          filter: none;
        }
      }
    }
  }
  &__prev {
    &::after {
      display: none;
    }
    &::before {
      transform: rotateY(180deg);
    }
  }
  &__next {
    padding: 0.5rem 0.25rem 0.5rem 0.75rem;
    &::before {
      display: none;
    }
  }
  &__number {
    width: 3.5rem;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
    transform: translateY(0.1rem);
  }
}

.card {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
  }
  &__item {
    min-height: 18rem;
    display: flex;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 13.75rem;
    background-color: var(--cb);
    color: var(--cn);
    flex-shrink: 0;
  }
  &__box {
  }
  &__date {
    flex-grow: 1;
    color: inherit;
    p {
      line-height: 1;
      margin-bottom: 0.75rem;
    }
    h3 {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1;
    }
  }
  &__duration,
  &__points {
    color: inherit;
    p {
      font-size: 0.875rem;
      line-height: 1.42;
      margin-bottom: 0.25rem;
    }
    h5 {
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.33;
    }
  }
  &__duration {
    margin-bottom: 0.5rem;
  }
  &__points {
  }

  &__info {
    position: relative;
    width: 100%;
    padding: 1.5rem 2rem;
    background-color: var(--cn);
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }
  &__lead {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    li {
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      border: 0.0625rem solid var(--cm);
      span {
        display: block;
        transform: translateY(0.08rem);
        font-size: 0.75rem;
        font-weight: 600;
      }
    }
  }
  &__name {
    display: block;
    color: var(--cm);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 2.5rem;
    transition: all 150ms ease-in;
    &:hover {
      opacity: 0.5;
    }
  }
  &__add {
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    color: var(--cm);
    font-size: 0.875rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    span {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.0625rem;
        background-color: var(--cm);
        transition: all 150ms ease-in;
      }
    }
    &:hover {
      span {
        &::after {
          width: 100%;
        }
      }
    }
    &::before {
      content: "";
      width: 1rem;
      height: 1rem;
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-0.1rem);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M7.99935 2.66675V13.3334M13.3327 8.00008H2.66602' stroke='%230B0B0B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}

.events {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  &__img-wrapp {
    position: relative;
    height: 16rem;
  }
  &__box {
    background-color: var(--cn);
    padding: 1.5rem 1rem;
    min-height: 13.5rem;
    display: flex;
    flex-direction: column;

    ul {
      padding-top: 1rem;
      flex-grow: 1;
      display: flex;
      align-items: end;
      gap: 1.5rem;
      li {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.33;
        span {
          transform: translateY(0.15rem);
        }
        &::before {
          content: "";
          width: 1rem;
          height: 1rem;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_291_1952)'%3E%3Cpath d='M7.99992 14.6666C11.6818 14.6666 14.6666 11.6818 14.6666 7.99992C14.6666 4.31802 11.6818 1.33325 7.99992 1.33325C4.31802 1.33325 1.33325 4.31802 1.33325 7.99992C1.33325 11.6818 4.31802 14.6666 7.99992 14.6666Z' stroke='%230B0B0B' stroke-width='1.5'/%3E%3Cpath d='M8 5.33325V7.99992L9.33333 9.33325' stroke='%230B0B0B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_291_1952'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
        &:last-child {
          &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_291_1957)'%3E%3Cpath d='M12 1.33325V2.66659M4 1.33325V2.66659' stroke='%230B0B0B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.66675 8.16213C1.66675 5.25729 1.66675 3.80485 2.50149 2.90243C3.33624 2 4.67974 2 7.36675 2H8.63341C11.3204 2 12.6639 2 13.4987 2.90243C14.3334 3.80485 14.3334 5.25729 14.3334 8.16213V8.50453C14.3334 11.4094 14.3334 12.8618 13.4987 13.7643C12.6639 14.6667 11.3204 14.6667 8.63341 14.6667H7.36675C4.67974 14.6667 3.33624 14.6667 2.50149 13.7643C1.66675 12.8618 1.66675 11.4094 1.66675 8.50453V8.16213Z' stroke='%230B0B0B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2 5.33325H14' stroke='%230B0B0B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_291_1957'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
          }
        }
      }
    }
  }
  &__title {
    color: var(--cm);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.33;
    transition: all 150ms ease-in;
    &:hover {
      opacity: 0.5;
    }
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  &__lead {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 0.0625rem solid var(--cm);
    span {
      display: block;
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 1.33;
      transform: translateY(0.1rem);
    }
  }
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    overflow: hidden;
    position: relative;
    background-color: var(--cw);
    border-radius: 2rem;
    width: 51.75rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 1.5rem;
      transform: translateY(-50%);
      z-index: 1;
      width: 1.5rem;
      height: 1.5rem;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M17.5 17.5L22 22' stroke='%231771DE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20C15.9706 20 20 15.9706 20 11Z' stroke='%231771DE' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
    .facetwp-facet {
      position: relative;
      z-index: 2;
    }

    input {
      width: 100%;
      font-size: 1rem;
      line-height: 1.5;
      color: var(--cm);
      padding: 1rem 8.75rem 1rem 4rem;
      border-radius: 2rem;
      border: 0.0625rem solid var(--cf);
      transition: all 150ms ease-in;
      background-color: transparent;

      &::placeholder {
        color: var(--cg);
        font-size: 1rem;
        line-height: 1.5;
      }
      &:focus,
      &:hover {
        border-color: var(--cb);
      }
    }
  }

  .facetwp-icon {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 0.25rem;
    transform: translateY(-50%);
    padding: 0.875rem 2.25rem;
    border-radius: 2rem;
    background-color: var(--cb);
    transition: all 150ms ease-in;
    &::before {
      content: "Пошук";
      color: var(--cw);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.42;
    }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   left: 50%;
    //   top: 50%;
    //   transform: translateX(-50%) translateY(-50%);
    //   width: calc(100% + 0.75rem);
    //   height: calc(100% + 0.75rem);
    //   background-color: transparent;
    //   border-radius: 2rem;
    // }
    &:hover {
      background-color: var(--cm);
    }
  }

  .facetwp-facet-catnews {
    width: 51.75rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-top: 1rem;
  }

  .facetwp-radio {
    cursor: pointer;
    padding: 0.63rem 1rem;
    border-radius: 2rem;
    border: 0.0625rem solid var(--cm);
    color: var(--cm);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.42;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in;

    span {
      transform: translateY(0.1rem);
    }
    &.checked {
      background-color: var(--cm);
      color: var(--cw);
    }
    &:hover {
      background-color: var(--cm);
      color: var(--cw);
    }
  }

  .facetwp-counter {
    display: none;
  }
}

.pagination__cont {
  position: relative;
  display: flex;
  justify-content: center;
}
.facetwp-pager {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.facetwp-page {
  cursor: pointer;
  width: 1.5rem;
  color: var(--cm);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  transition: all 150ms ease-in;
  &:hover {
    color: var(--cg);
  }
}
.active {
  color: var(--cg);
}
.prev,
.next {
  width: 5rem;
  padding: 0.5rem 0.75rem 0.5rem 0.25rem;
  border-radius: 2rem;
  border: 0.0625rem solid var(--cm);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  transition: all 150ms ease-in;
  &::before,
  &::after {
    content: "";
    transition: all 150ms ease-in;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_25_24255)'%3E%3Cpath d='M6.00003 4C6.00003 4 10 6.94593 10 8C10 9.05413 6 12 6 12' stroke='%230B0B0B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_25_24255'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
  span {
    font-size: 0.875rem;
    font-weight: 700;
    transform: translateY(0.08rem);
    transition: all 150ms ease-in;
  }
  &:hover {
    background-color: var(--cm);
    span {
      color: var(--cw);
    }
    &::after,
    &::before {
      filter: brightness(0) saturate(100%) invert(93%) sepia(100%) saturate(0%)
        hue-rotate(47deg) brightness(103%) contrast(105%);
    }
  }
  &.is-disabled {
    cursor: default;
    opacity: 0.5;
    &:hover {
      background-color: var(--cw);
      span {
        color: var(--cm);
      }
      &::after,
      &::before {
        filter: none;
      }
    }
  }
}
.prev {
  margin-right: 1.38rem;
  &::after {
    display: none;
  }
  &::before {
    transform: rotateY(180deg);
  }
}
.next {
  margin-left: 1.38rem;
  padding: 0.5rem 0.25rem 0.5rem 0.75rem;
  &::before {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .sec-pt {
    padding-top: 6rem;
  }

  .title1 {
    font-size: 2.3125rem;
    line-height: 1.08;
  }
  .title2 {
    font-size: 1.75rem;
    line-height: 1.14;
  }
  .title4,
  .title3 {
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .btn-more {
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 2rem;
    height: 2rem;
    .btn-text {
      display: none;
    }
    .btn-circle {
      width: 100%;
      height: 100%;
    }
  }

  .filtercont {
    gap: 0.56rem;

    .filter {
      &__sort-btn {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0;
        padding: 0.875rem;

        .filter-new,
        .filter-old {
          display: none;
        }
      }
      &__type {
        width: 100%;
      }
    }
    .nice-select {
      padding: 0.75rem !important;

      font-size: 1rem !important;
      line-height: 1.5 !important;

      .option {
        padding: 0.75rem !important;
        line-height: 1.5 !important;
      }
    }
    .current {
      width: 12.5rem !important;
      font-size: 1rem !important;
      line-height: 1.5 !important;
    }
  }

  .function-arrows,
  .paragraph-arrows {
    &__body {
      justify-content: space-between;
      width: 100%;
    }
    &__prev,
    &__next {
      width: auto;
      padding: 0.875rem;
      border-radius: 50%;

      span {
        display: none;
      }
    }
    &__prev {
      &::before {
        transform: rotateY(180deg) translateY(0);
      }
    }
    &__next {
      padding: 0.875rem;
      &::after {
        transform: translateY(0);
      }
    }
    &__number {
      width: 3rem;
      font-size: 0.875rem;
    }
  }

  .card {
    &__list {
      margin-bottom: 2rem;
    }
    &__item {
      min-height: auto;
      flex-direction: column;
    }

    &__aside {
      padding: 1.5rem 1rem;
      width: 100%;
      min-height: 11.75rem;
    }
    &__box {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__duration {
      margin-bottom: 0;
    }

    &__info {
      padding: 1.5rem 1rem;
    }
    &__name {
      font-size: 1.25rem;
      line-height: 1.4;
    }
    &__lead {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      li {
        padding: 0.5rem 0.75rem;
        span {
          transform: translateY(0.08rem);
        }
      }
    }
    &__add {
      left: 1rem;
    }
  }

  .events {
    &__list {
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    }
    &__top {
      margin-bottom: 1rem;
    }
    &__lead {
      padding: 0.5rem 0.75rem;
    }
  }

  .search {
    align-items: stretch;

    &__form {
      width: 100%;

      &::before {
        display: none;
      }

      input {
        padding: 1rem 6.75rem 1rem 1.5rem;
      }
    }

    .facetwp-icon {
      padding: 0.875rem 1.25rem;
    }

    .facetwp-facet-catnews {
      width: 100%;
      justify-content: stretch;
      gap: 0.5rem;
    }
  }

  .facetwp-pager {
    gap: 0.5rem;
  }
  .facetwp-page {
    color: var(--cm);
    font-size: 0.875rem;
  }
  .prev,
  .next {
    position: absolute;
    width: auto;
    padding: 0.875rem;
    border-radius: 50%;

    span {
      display: none;
    }
  }
  .prev {
    left: 0;
    margin-right: 0;
    &::before {
      transform: rotateY(180deg) translateY(0);
    }
  }
  .next {
    right: 0;
    margin-left: 0;
    padding: 0.875rem;
    &::after {
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 500px) {
}
