body {
  /* Colors */
  --cm: #0b0b0b;
  --cg: #888;
  --ch: #5d5d5d;
  --cd: #454545;
  --cf: #d1d1d1;
  --cw: #fff;
  --cn: #f6f6f6;
  --cb: #1771de;
  --cv: #00b1d9;
  --cr: #d91625;
  --cp: #ffc7cb;

  /* Fonts */
  --ff: "FixelDisplay", sans-serif;
}
