body {
  /* Colors */
  --cm: #0b0b0b;
  --cd: #454545;
  --ch: #5d5d5d;
  --cg: #888;
  --cf: #d1d1d1;
  --cn: #f6f6f6;
  --cw: #fff;
  --cb: #1771de;
  --cv: #00b1d9;
  --ca: #8fdaff;
  --ck: #ebfdff;
  --cs: #daf1ff;
  --cr: #d91625;
  --cp: #ffc7cb;
  --cj: #fff0f2;

  /* Fonts */
  --ff: "FixelDisplay", sans-serif;
}
