<section class="archive sec-pt">
  <div class="container">
    <div class="archive__body">
      <div class="archive__top">
        <h2 class="title2">Архів подій</h2>

        <ul class="choice">
          <li>
            <button type="button" class="choice__date">
              <span>Спочатку нові</span>
            </button>
          </li>
          <li>
            <button type="button" class="choice__type">
              <span>Тип заходу: Лекція</span>
            </button>
          </li>
        </ul>
      </div>

      <ul class="archive__list">
        <li class="archive__item">
          <div class="archive__media">
            <div class="archive__img-wrapp">
              <img src="./img/content/archive_1.jpg" alt="" class="cover" />
            </div>

            <div class="archive__filter"></div>

            <a href="#" class="archive__icon-wrapp">
              <span><img src="./img/icons/play.svg" alt="" /></span>
            </a>
          </div>

          <div class="archive__box">
            <div class="archive__info">
              <ul>
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>

              <a href="#">
                Негативний вплив війни з росією на поведінкові детермінанти
                формування громадського здоров’я та шляхи його мінімізації
              </a>
            </div>

            <p>14.04.24</p>
          </div>
        </li>
        <li class="archive__item">
          <div class="archive__media">
            <div class="archive__img-wrapp">
              <img src="./img/content/archive_1.jpg" alt="" class="cover" />
            </div>

            <div class="archive__filter"></div>

            <a href="#" class="archive__icon-wrapp">
              <span><img src="./img/icons/play.svg" alt="" /></span>
            </a>
          </div>

          <div class="archive__box">
            <div class="archive__info">
              <ul>
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>

              <a href="#">
                Негативний вплив війни з росією на поведінкові детермінанти
                формування громадського здоров’я та шляхи його мінімізації
              </a>
            </div>

            <p>14.04.24</p>
          </div>
        </li>
        <li class="archive__item">
          <div class="archive__media">
            <div class="archive__img-wrapp">
              <img src="./img/content/archive_1.jpg" alt="" class="cover" />
            </div>

            <div class="archive__filter"></div>

            <a href="#" class="archive__icon-wrapp">
              <span><img src="./img/icons/play.svg" alt="" /></span>
            </a>
          </div>

          <div class="archive__box">
            <div class="archive__info">
              <ul>
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>

              <a href="#">
                Негативний вплив війни з росією на поведінкові детермінанти
                формування громадського здоров’я та шляхи його мінімізації
              </a>
            </div>

            <p>14.04.24</p>
          </div>
        </li>
        <li class="archive__item">
          <div class="archive__media">
            <div class="archive__img-wrapp">
              <img src="./img/content/archive_1.jpg" alt="" class="cover" />
            </div>

            <div class="archive__filter"></div>

            <a href="#" class="archive__icon-wrapp">
              <span><img src="./img/icons/play.svg" alt="" /></span>
            </a>
          </div>

          <div class="archive__box">
            <div class="archive__info">
              <ul>
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>

              <a href="#">
                Негативний вплив війни з росією на поведінкові детермінанти
                формування громадського здоров’я та шляхи його мінімізації
              </a>
            </div>

            <p>14.04.24</p>
          </div>
        </li>
        <li class="archive__item">
          <div class="archive__media">
            <div class="archive__img-wrapp">
              <img src="./img/content/archive_1.jpg" alt="" class="cover" />
            </div>

            <div class="archive__filter"></div>

            <a href="#" class="archive__icon-wrapp">
              <span><img src="./img/icons/play.svg" alt="" /></span>
            </a>
          </div>

          <div class="archive__box">
            <div class="archive__info">
              <ul>
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>

              <a href="#">
                Негативний вплив війни з росією на поведінкові детермінанти
                формування громадського здоров’я та шляхи його мінімізації
              </a>
            </div>

            <p>14.04.24</p>
          </div>
        </li>
        <li class="archive__item">
          <div class="archive__media">
            <div class="archive__img-wrapp">
              <img src="./img/content/archive_1.jpg" alt="" class="cover" />
            </div>

            <div class="archive__filter"></div>

            <a href="#" class="archive__icon-wrapp">
              <span><img src="./img/icons/play.svg" alt="" /></span>
            </a>
          </div>

          <div class="archive__box">
            <div class="archive__info">
              <ul>
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>

              <a href="#">
                Негативний вплив війни з росією на поведінкові детермінанти
                формування громадського здоров’я та шляхи його мінімізації
              </a>
            </div>

            <p>14.04.24</p>
          </div>
        </li>
      </ul>

      <div class="archive-pagination">
        <div class="archive-pagination__body">
          <button type="button" class="archive-pagination__prev">
            <span>Назад</span>
          </button>
          <button type="button" class="archive-pagination__number">1</button>
          <button type="button" class="archive-pagination__next">
            <span>Далі</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
