<section class="archive sec-pt">
  <div class="container">
    <div class="archive__body">
      <div class="archive__top">
        <h2 class="title2">Архів подій</h2>

        <div class="filtercont">
          <ul class="filter__list">
            <li class="filter__item filter__sort">
              <!-- <button type="button" class="filter__sort-btn choice"> -->
              <button type="button" class="filter__sort-btn">
                <span class="filter-new">Спочатку нові</span>
                <span class="filter-old">Спочатку старі</span>
              </button>
            </li>
            <li class="filter__item filter__type">
              <select class="archive__select">
                <option value="Lecture" selected>Лекція</option>
                <option value="Seminars">Семінари</option>
                <option value="Activities">Заходи</option>
              </select>
            </li>
          </ul>
        </div>
      </div>

      <ul class="archive__list">
        <li class="archive__item">
          <div class="archive__media">
            <div class="archive__img-wrapp no-select">
              <img src="./img/content/archive_1.jpg" alt="" class="cover" />
            </div>

            <div class="archive__filter"></div>

            <a href="#" class="archive__icon-wrapp ">
              <span class="no-select">
                <img src="./img/icons/play_1.svg" alt="" />
              </span>
            </a>
          </div>

          <div class="archive__box">
            <div class="archive__info">
              <ul>
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>

              <a href="#">
                Негативний вплив війни з росією на поведінкові детермінанти
                формування громадського здоров’я та шляхи його мінімізації
              </a>
            </div>

            <p>14.04.24</p>
          </div>
        </li>
        <li class="archive__item">
          <div class="archive__media">
            <div class="archive__img-wrapp no-select">
              <img src="./img/content/archive_1.jpg" alt="" class="cover" />
            </div>

            <div class="archive__filter"></div>

            <a href="#" class="archive__icon-wrapp">
              <span class="no-select">
                <img src="./img/icons/play_1.svg" alt="" />
              </span>
            </a>
          </div>

          <div class="archive__box">
            <div class="archive__info">
              <ul>
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>

              <a href="#">
                Негативний вплив війни з росією на поведінкові детермінанти
                формування громадського здоров’я та шляхи його мінімізації
              </a>
            </div>

            <p>14.04.24</p>
          </div>
        </li>
        <li class="archive__item">
          <div class="archive__media">
            <div class="archive__img-wrapp no-select">
              <img src="./img/content/archive_1.jpg" alt="" class="cover" />
            </div>

            <div class="archive__filter"></div>

            <a href="#" class="archive__icon-wrapp ">
              <span class="no-select">
                <img src="./img/icons/play_1.svg" alt="" />
              </span>
            </a>
          </div>

          <div class="archive__box">
            <div class="archive__info">
              <ul>
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>

              <a href="#">
                Негативний вплив війни з росією на поведінкові детермінанти
                формування громадського здоров’я та шляхи його мінімізації
              </a>
            </div>

            <p>14.04.24</p>
          </div>
        </li>
        <li class="archive__item">
          <div class="archive__media">
            <div class="archive__img-wrapp no-select">
              <img src="./img/content/archive_1.jpg" alt="" class="cover" />
            </div>

            <div class="archive__filter"></div>

            <a href="#" class="archive__icon-wrapp">
              <span class="no-select">
                <img src="./img/icons/play_1.svg" alt="" />
              </span>
            </a>
          </div>

          <div class="archive__box">
            <div class="archive__info">
              <ul>
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>

              <a href="#">
                Негативний вплив війни з росією на поведінкові детермінанти
                формування громадського здоров’я та шляхи його мінімізації
              </a>
            </div>

            <p>14.04.24</p>
          </div>
        </li>
        <li class="archive__item">
          <div class="archive__media">
            <div class="archive__img-wrapp no-select">
              <img src="./img/content/archive_1.jpg" alt="" class="cover" />
            </div>

            <div class="archive__filter"></div>

            <a href="#" class="archive__icon-wrapp">
              <span class="no-select">
                <img src="./img/icons/play_1.svg" alt="" />
              </span>
            </a>
          </div>

          <div class="archive__box">
            <div class="archive__info">
              <ul>
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>

              <a href="#">
                Негативний вплив війни з росією на поведінкові детермінанти
                формування громадського здоров’я та шляхи його мінімізації
              </a>
            </div>

            <p>14.04.24</p>
          </div>
        </li>
        <li class="archive__item">
          <div class="archive__media">
            <div class="archive__img-wrapp no-select">
              <img src="./img/content/archive_1.jpg" alt="" class="cover" />
            </div>

            <div class="archive__filter"></div>

            <a href="#" class="archive__icon-wrapp">
              <span class="no-select">
                <img src="./img/icons/play_1.svg" alt="" />
              </span>
            </a>
          </div>

          <div class="archive__box">
            <div class="archive__info">
              <ul>
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>

              <a href="#">
                Негативний вплив війни з росією на поведінкові детермінанти
                формування громадського здоров’я та шляхи його мінімізації
              </a>
            </div>

            <p>14.04.24</p>
          </div>
        </li>
      </ul>

      <div class="pagination__cont">
        <div
          class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
          data-name="pagination"
          data-type="pager"
        >
          <div class="facetwp-pager">
            <a class="facetwp-page prev" data-page="1"><span>Назад</span></a>
            <a class="facetwp-page first" data-page="1">1</a>
            <a class="facetwp-page active" data-page="2">2</a>
            <a class="facetwp-page" data-page="3">3</a>
            <a class="facetwp-page dots">…</a>
            <a class="facetwp-page last" data-page="12">12</a>
            <a class="facetwp-page next" data-page="3"><span>Далі</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
