.structure {
  &__body {
    position: relative;
    background-color: var(--cb);
    padding: 2rem;
    min-height: 24rem;
  }

  &__block-grid {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    z-index: 1;
    grid-template-columns: repeat(2, 6.375rem);
    grid-template-rows: repeat(2, 6.375rem);
    div {
      background-color: var(--cs);
      &:nth-child(1) {
        background-color: var(--cw);
      }
      &:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
    }
  }

  &__wrapp {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 6.5rem;
    margin-left: 14.38rem;
  }

  &__list-patr1,
  &__list-patr2,
  &__list-patr3 {
    position: relative;
    z-index: 2;
    li {
      border-radius: 2rem;
      background-color: var(--cw);
      padding: 1rem 1.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      color: var(--cb);
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.33;
      span,
      p {
        transform: translateY(0.08rem);
        text-wrap: nowrap;
      }
    }
  }

  &__list-patr1 {
  }
  &__list-patr2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__list-patr3 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__vector-1d {
    position: absolute;
    z-index: 1;
    top: 1.4rem;
    left: 18.1rem;
    width: 7.5rem;
  }
  &__vector-td {
    position: absolute;
    top: 3.1em;
    right: 7.5rem;
    width: 16.5rem;
  }
  &__vector-bd {
    position: absolute;
    bottom: 3.1em;
    right: 7.5rem;
    width: 16.5rem;
  }

  .title2 {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: var(--cw);
  }
}

@media screen and (max-width: 960px) {
  .structure {
    &__container {
      background-color: var(--cb);
    }
    &__body {
      padding: 2.5rem 2.2rem;
      min-height: 100%;
    }

    &__block-grid {
      left: auto;
      right: 0;
      transform: rotate(90deg) translateY(-1rem);
      grid-template-columns: repeat(2, 4rem);
      grid-template-rows: repeat(2, 4rem);
    }

    &__wrapp {
      grid-template-columns: repeat(1, 1fr);
      align-items: stretch;
      gap: 0;
      margin-left: 0;
      margin-top: 6rem;
    }

    &__list-patr1,
    &__list-patr2,
    &__list-patr3 {
      li {
        font-size: 1rem;
        line-height: 1.25;
      }
    }

    &__list-patr1 {
      margin-bottom: 2.63rem;
    }
    &__list-patr2 {
      gap: 1.5rem;
      margin-bottom: 2.63rem;
    }
    &__list-patr3 {
      height: auto;
      justify-content: stretch;
      gap: 1.5rem;
    }

    &__vector-1d {
      display: none;
    }
    &__vector-td {
      display: none;
    }
    &__vector-bd {
      display: none;
    }

    .title2 {
      bottom: auto;
      top: 2.5rem;
      left: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .structure {
    &__block-grid {
      transform: rotate(90deg) translateY(-1.25rem);
    }
  }
}
