.team {
  &__body {
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.5rem 2rem;
    li {
      p {
        color: var(--cd);
      }
    }
  }
  &__img-wrapp {
    position: relative;
    height: 22rem;
    margin-bottom: 1.5rem;
  }
  &__btn-wrapp {
    display: none;
  }

  .title2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .title4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.25rem;
  }
}

@media screen and (max-width: 960px) {
  .team {
    &__list {
      grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
      li {
        display: none;
        p {
          font-size: 0.875rem;
          line-height: 1.42;
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          display: block;
        }
      }
      &.add-item {
        li {
          display: block;
        }
      }
    }
    &__img-wrapp {
      padding-top: 120%;
      height: auto;
      margin-bottom: 1rem;
    }
    &__btn-wrapp {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      &.is-hidden {
        display: none;
      }
    }

    .title2 {
      text-align: start;
    }
    .title4 {
      line-height: 1.4;
    }
  }
}
