.team {
  &__body {
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem 2rem;
    li {
      p {
        color: var(--cd);
      }
    }
  }
  &__img-wrapp {
    position: relative;
    height: 22rem;
    margin-bottom: 1.5rem;
  }
  &__btn-wrapp {
    display: none;
  }

  .title2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .title4 {
    margin-bottom: 0.25rem;
  }
}

@media screen and (max-width: 960px) {
  .team {
    &__list {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      margin-bottom: 2rem;
      li {
        p {
          font-size: 0.875rem;
          line-height: 1.42;
        }
      }
    }
    &__img-wrapp {
      height: 24rem;
      margin-bottom: 1rem;
    }
    &__btn-wrapp {
      display: flex;
      justify-content: center;
    }

    .title2 {
      text-align: start;
    }
    .title4 {
      line-height: 1.4;
    }
  }
}
