.details {
  &__body {
  }
  &__wrapp {
    display: flex;
    gap: 2.495rem;
  }
  &__info {
    p {
      max-width: 26rem;
      font-size: 1.125rem;
      line-height: 1.33;
      margin-bottom: 3rem;
    }
  }
  &__img-wrapp {
    position: relative;
    transform: translateX(-6.375rem);
  }
  &__img-box {
    position: absolute;
    bottom: 0;
    left: 6.375rem;
    width: 19.125rem;
    height: 12.75rem;
  }
  &__block-grid1 {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(5, 6.375rem);
    grid-template-rows: repeat(4, 6.375rem);
    div {
      background-color: var(--ca);
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &:nth-child(1) {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
      }
      &:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
      &:nth-child(3) {
        background-color: var(--cb);
        grid-column: 3 / 4;
        grid-row: 2 / 3;
      }
      &:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        background-color: var(--cw);
      }
      &:nth-child(5) {
        grid-column: 5 / 6;
        grid-row: 3 / 4;
        background-color: var(--cs);
      }
      &:nth-child(6) {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        background-color: var(--cs);
      }
    }
  }

  &__content {
    position: relative;
    padding-right: 6.87rem;
  }
  &__list {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;

    & > li {
      padding: 1.5rem 0;
      border-bottom: 0.0625rem solid var(--co);

      h6 {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.33;
        margin-bottom: 1rem;
      }
      p {
        color: var(--cd);
        font-size: 1.125rem;
        line-height: 1.33;
        margin-bottom: 0.25rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      a {
        color: var(--cb);
        &:hover {
          text-decoration: underline;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        & > li {
          display: flex;
          align-items: start;
          gap: 0.5rem;
          color: var(--cd);
          font-size: 1.125rem;
          line-height: 1.33;
          &::before {
            content: "";
            margin-top: 0.44rem;
            flex-shrink: 0;
            width: 0.25rem;
            height: 0.25rem;
            background-color: transparent;
            border: 0.125rem solid var(--cb);
          }
        }
      }
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
  &__block-grid2 {
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(3, 6.375rem);
    grid-template-rows: repeat(3, 6.375rem);
    transform: translateX(4.5rem);
    div {
      background-color: var(--cs);
      &:nth-child(1) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
      }
      &:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
      &:nth-child(3) {
        background-color: var(--ca);
        grid-column: 3 / 4;
        grid-row: 2 / 3;
      }
      &:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
      &:nth-child(5) {
        background-color: var(--ca);
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
      &:nth-child(6) {
        background-color: var(--cb);
        grid-column: 3 / 4;
        grid-row: 3 / 4;
      }
    }
  }

  .title2 {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 960px) {
  .details {
    &__wrapp {
      flex-direction: column;
      gap: 2rem;
    }
    &__info {
      p {
        max-width: 100%;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 2rem;
      }
    }
    &__img-wrapp {
      transform: translateX(0);
    }
    &__img-box {
      position: relative;
      bottom: auto;
      left: auto;
      width: 100%;
      height: 16rem;
    }
    &__block-grid1 {
      position: absolute;
      top: 0;
      left: 0;
      grid-template-columns: repeat(5, 4rem);
      grid-template-rows: repeat(4, 4rem);
      div {
        background-color: var(--cs);
        span {
          width: 2rem;
          height: 2rem;
        }
        &:nth-child(1) {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
        }
        &:nth-child(4) {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
          background-color: var(--cs);
        }
        &:nth-child(5) {
          grid-column: 1 / 2;
          grid-row: 3 / 4;
          background-color: var(--ca);
        }
        &:nth-child(6) {
          grid-column: 2 / 3;
          grid-row: 4 / 5;
          background-color: var(--cs);
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 0;
    }
    &__list {
      margin-bottom: 2rem;

      & > li {
        padding: 1rem 0;

        h6 {
          font-size: 1rem;
          line-height: 1.5;
          margin-bottom: 0.75rem;
        }
        p {
          font-size: 1rem;
          line-height: 1.5;
        }
        ul {
          & > li {
            font-size: 1rem;
            line-height: 1.5;
          }
        }
      }
    }
    &__block-grid2 {
      display: none;
    }
  }
}
