.stream {
  position: relative;
  min-height: 40.625rem;
  height: 100vh;

  &__wrapp {
    position: relative;
    padding: 3rem 0;
    z-index: 3;
    width: 100%;
    height: 100%;
  }
  &__body {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__text {
    color: var(--cf);
    font-size: 1.125rem;
    line-height: 1.55;
    max-width: 30rem;
  }
  &__img-wrapp {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  &__play {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 8rem;
    border: 0.125rem solid var(--cw);
    background-color: var(--cb);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in;
    span {
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 150ms ease-in;
    }
    &:hover {
      background-color: var(--cw);
      span {
        filter: brightness(0) saturate(100%) invert(35%) sepia(33%)
          saturate(5215%) hue-rotate(201deg) brightness(91%) contrast(89%);
      }
    }
  }
  &__filter {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.88;
    background: linear-gradient(
      180deg,
      rgba(15, 15, 15, 0.4) 0%,
      rgba(15, 15, 15, 0.88) 100%
    );
  }

  .container {
    height: 100%;
  }
  .title2 {
    color: var(--cw);
  }
}

@media screen and (max-width: 960px) {
  .stream {
    min-height: 32rem;

    &__wrapp {
      padding: 2rem 0;
    }
    &__info {
      gap: 1rem;
    }
    &__text {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}
