.similar {
  padding-bottom: 10rem;

  &__body {
  }

  .title2 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 960px) {
  .similar {
    padding-bottom: 6rem;

    .title2 {
      margin-bottom: 1.5rem;
    }
  }
}
