<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__part1">
        <div class="footer__box">
          <a href="./index.html" class="custom-logo-link">
            <img src="./img/icons/logo3.svg" alt="" />
          </a>
          <div class="footer__info">
            <p>ВАФГЗ © 2024</p>
            <div class="footer__digital">
              <p>Created by:</p>
              <span>
                <img src="./img/icons/digital.svg" alt="" />
              </span>
            </div>
          </div>
        </div>

        <ul class="footer__list">
          <li>
            <a href="#" class="footer__lead">Про нас</a>
            <ul>
              <li><a href="#">Мета організації</a></li>
              <li><a href="#">Нормативна база</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="footer__lead">БПР</a>
            <ul>
              <li><a href="#">Майбутні події</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="footer__lead">Проєкти</a>
            <ul>
              <li><a href="#">Профілактика </a></li>
              <li><a href="#">Імунізація</a></li>
              <li><a href="#">Психічне здоров'я</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="footer__lead">Заходи</a>
            <ul>
              <li><a href="#">Лекції</a></li>
              <li><a href="#">Майстер класи</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="footer__lead">Новини</a>
            <ul>
              <li><a href="#">Всі новини</a></li>
              <li><a href="#">Анонси</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="footer__lead">Матеріали</a>
            <ul>
              <li><a href="#">Публікації</a></li>
              <li><a href="#">Звіти</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="footer__lead">Інформація</a>
            <ul>
              <li><a href="#">Політика конфіденційності</a></li>
              <li><a href="#">Контакти</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="footer__lead">Спільнота</a>
            <ul>
              <li>
                <a href="#" target="_blank" rel="noopener noreferrer">
                  Фейсбук
                </a>
              </li>
              <li>
                <a href="#" target="_blank" rel="noopener noreferrer">Ютуб</a>
              </li>
              <li>
                <a href="#" target="_blank" rel="noopener noreferrer">
                  Лінкедін
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__part2">
        <p class="footer__text">
          Створення цього вебсайту стало можливим завдяки щирій підтримці
          американського народу, наданій через Агентство США з міжнародного
          розвитку (USAID). Зміст є винятковою відповідальністю ГО
          “Всеукраїнська асоціація фахівців з громадського здоров’я” і не
          обов’язково відображає точку зору USAID або Уряду США.
        </p>
        <ul class="footer__companies">
          <li><img src="./img/content/footer_1.png" alt="" /></li>
          <li><img src="./img/content/footer_2.png" alt="" /></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
