<section class="categories">
  <div class="container">
    <div class="categories__body">
      <ul class="events__list">
        <li>
          <div class="events__img-wrapp">
            <img src="./img/content/article_1.jpg" alt="" class="cover" />
          </div>
          <div class="events__box">
            <div class="events__top">
              <p class="events__lead"><span>Анонс</span></p>
              <a href="#" class="btn-more">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>
            <a href="#" class="events events__title">
              Третій випуск Інформаційного бюлетеня нормативних змін у сфері
              громадського здоров’я
            </a>
            <ul>
              <li><span>8 хв читання</span></li>
              <li><span>28.07.2024</span></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="events__img-wrapp">
            <img src="./img/content/current_1.jpg" alt="" class="cover" />
          </div>
          <div class="events__box">
            <div class="events__top">
              <p class="events__lead"><span>Новина</span></p>
              <a href="#" class="btn-more">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>
            <a href="#" class="events events__title">
              Третій випуск Інформаційного бюлетеня нормативних змін у сфері
              громадського здоров’я
            </a>
            <ul>
              <li><span>8 хв читання</span></li>
              <li><span>28.07.2024</span></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="events__img-wrapp">
            <img src="./img/content/archive_1.jpg" alt="" class="cover" />
          </div>
          <div class="events__box">
            <div class="events__top">
              <p class="events__lead"><span>Звіт</span></p>
              <a href="#" class="btn-more">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>
            <a href="#" class="events events__title">
              Третій випуск Інформаційного бюлетеня нормативних змін у сфері
              громадського здоров’я
            </a>
            <ul>
              <li><span>8 хв читання</span></li>
              <li><span>28.07.2024</span></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="events__img-wrapp">
            <img src="./img/content/article_1.jpg" alt="" class="cover" />
          </div>
          <div class="events__box">
            <div class="events__top">
              <p class="events__lead"><span>Анонс</span></p>
              <a href="#" class="btn-more">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>
            <a href="#" class="events events__title">
              Третій випуск Інформаційного бюлетеня нормативних змін у сфері
              громадського здоров’я
            </a>
            <ul>
              <li><span>8 хв читання</span></li>
              <li><span>28.07.2024</span></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="events__img-wrapp">
            <img src="./img/content/current_1.jpg" alt="" class="cover" />
          </div>
          <div class="events__box">
            <div class="events__top">
              <p class="events__lead"><span>Новина</span></p>
              <a href="#" class="btn-more">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>
            <a href="#" class="events events__title">
              Третій випуск Інформаційного бюлетеня нормативних змін у сфері
              громадського здоров’я
            </a>
            <ul>
              <li><span>8 хв читання</span></li>
              <li><span>28.07.2024</span></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="events__img-wrapp">
            <img src="./img/content/archive_1.jpg" alt="" class="cover" />
          </div>
          <div class="events__box">
            <div class="events__top">
              <p class="events__lead"><span>Звіт</span></p>
              <a href="#" class="btn-more">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>
            <a href="#" class="events events__title">
              Третій випуск Інформаційного бюлетеня нормативних змін у сфері
              громадського здоров’я
            </a>
            <ul>
              <li><span>8 хв читання</span></li>
              <li><span>28.07.2024</span></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="events__img-wrapp">
            <img src="./img/content/article_1.jpg" alt="" class="cover" />
          </div>
          <div class="events__box">
            <div class="events__top">
              <p class="events__lead"><span>Анонс</span></p>
              <a href="#" class="btn-more">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>
            <a href="#" class="events events__title">
              Третій випуск Інформаційного бюлетеня нормативних змін у сфері
              громадського здоров’я
            </a>
            <ul>
              <li><span>8 хв читання</span></li>
              <li><span>28.07.2024</span></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="events__img-wrapp">
            <img src="./img/content/current_1.jpg" alt="" class="cover" />
          </div>
          <div class="events__box">
            <div class="events__top">
              <p class="events__lead"><span>Новина</span></p>
              <a href="#" class="btn-more">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>
            <a href="#" class="events events__title">
              Третій випуск Інформаційного бюлетеня нормативних змін у сфері
              громадського здоров’я
            </a>
            <ul>
              <li><span>8 хв читання</span></li>
              <li><span>28.07.2024</span></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="events__img-wrapp">
            <img src="./img/content/archive_1.jpg" alt="" class="cover" />
          </div>
          <div class="events__box">
            <div class="events__top">
              <p class="events__lead"><span>Звіт</span></p>
              <a href="#" class="btn-more">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>
            <a href="#" class="events events__title">
              Третій випуск Інформаційного бюлетеня нормативних змін у сфері
              громадського здоров’я
            </a>
            <ul>
              <li><span>8 хв читання</span></li>
              <li><span>28.07.2024</span></li>
            </ul>
          </div>
        </li>
      </ul>

      <div class="pagination__cont">
        <div
          class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
          data-name="pagination"
          data-type="pager"
        >
          <div class="facetwp-pager">
            <a class="facetwp-page prev" data-page="1"><span>Назад</span></a>
            <a class="facetwp-page first" data-page="1">1</a>
            <a class="facetwp-page active" data-page="2">2</a>
            <a class="facetwp-page" data-page="3">3</a>
            <a class="facetwp-page dots">…</a>
            <a class="facetwp-page last" data-page="12">12</a>
            <a class="facetwp-page next" data-page="3"><span>Далі</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
