<section class="news">
  <div class="container">
    <div class="news__body">
      <div class="news__info">
        <h2 class="title1">Новини</h2>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.
        </p>
      </div>

      <div class="news__wrapp search">
        <form class="search__form">
          <span class="search__icon no-select">
            <img src="./img/icons/search.svg" alt="" />
          </span>
          <label class="search__label">
            <input type="text" name="" placeholder="Пишіть тут" />
          </label>
          <button type="submit" class="btn-def"><span>Пошук</span></button>
        </form>
        <ul class="search__list">
          <li>
            <a href="#" class="active"><span>Всі категорії</span></a>
          </li>
          <li>
            <a href="#"><span>Анонс</span></a>
          </li>
          <li>
            <a href="#"><span>Новина</span></a>
          </li>
          <li>
            <a href="#"><span>Звіти</span></a>
          </li>
          <li>
            <a href="#"><span>Майстер клас</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
