<section class="activity values">
  <div class="container">
    <div class="values__body">
      <div class="values__img-wrapp no-select">
        <img src="./img/content/hero_2.jpg" alt="" class="cover" />
      </div>

      <div class="values__container">
        <h2 class="title1">
          Наша<br />
          діяльність
        </h2>
        <p class="values__text">
          Ми – громадська організація, що об'єднує громадян України, іноземців
          та осіб без громадянства, які законно перебувають в Україні.
        </p>
        <a href="#" class="hero__link">
          <span class="hero__link-text">Доєднатись</span>
          <div class="hero__link-icon no-select">
            <span class="no-select">
              <img src="./img/icons/values_1.svg" alt="" />
            </span>
          </div>
        </a>

        <div class="values__box">
          <ul class="values__list no-select">
            <li><img src="./img/content/team_1.jpg" alt="" /></li>
            <li><img src="./img/content/team_2.jpg" alt="" /></li>
            <li><img src="./img/content/team_3.jpg" alt="" /></li>
            <li><img src="./img/content/team_4.jpg" alt="" /></li>
          </ul>
          <div class="values__info">
            <span>240+</span>
            <p>постійних учасників</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
