<section class="directions sec-pt">
  <div class="container">
    <div class="directions__body">
      <h2 class="title2">Основні напрямки</h2>

      <ul class="directions__list">
        <li class="directions__item">
          <div class="directions__info">
            <h3 class="title3">Профілактика захворювань</h3>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>
            <a href="#" class="btn-def brb"><span>Дізнатись більше</span></a>
          </div>

          <div class="directions__img-wrapp no-select">
            <img src="./img/content/vision_2.jpg" alt="" class="cover" />

            <div class="directions__block-grid">
              <div></div>
              <div></div>
              <div>
                <span>
                  <img src="./img/icons/banner_2.svg" alt="" />
                </span>
              </div>
              <div></div>
              <div></div>
            </div>
          </div>
        </li>

        <li class="directions__item">
          <div class="directions__info">
            <h3 class="title3">Імунізація суспільства</h3>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>
            <a href="#" class="btn-def brb"><span>Дізнатись більше</span></a>
          </div>

          <div class="directions__img-wrapp no-select">
            <img src="./img/content/hero_3.jpg" alt="" class="cover" />

            <div class="directions__block-grid">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div>
                <span>
                  <img src="./img/icons/banner_3.svg" alt="" />
                </span>
              </div>
            </div>
          </div>
        </li>

        <li class="directions__item">
          <div class="directions__info">
            <h3 class="title3">Ментальне здоров'я</h3>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>
            <a href="#" class="btn-def brb"><span>Дізнатись більше</span></a>
          </div>

          <div class="directions__img-wrapp no-select">
            <img src="./img/content/directions_1.jpg" alt="" class="cover" />

            <div class="directions__block-grid">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div>
                <span>
                  <img src="./img/icons/banner_4.svg" alt="" />
                </span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
