<section class="error">
  <div class="container">
    <div class="error__body">
      <div class="error__content">
        <h2 class="error__title">Сторінку не знайдено</h2>
        <p class="error__text">
          Помилка 404. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.s
        </p>

        <a href="./index.html" class="btn-def">На головну</a>
      </div>

      <div class="error__block-grid">
        <div><span>404</span></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</section>
