.current {
  &__body {
    position: relative;
  }
  &__wrapp {
  }
  &__aside {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
  &__news {
    position: relative;
    padding: 1.5rem 1rem;
    background-color: var(--cb);
    width: 26rem;
    height: 25rem;
    flex-shrink: 0;
    box-shadow: 0 0.25rem 0.75rem 0 rgba(11, 11, 11, 0.24);
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  &__lead {
    color: var(--cw);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 0.0625rem solid var(--cw);
    font-size: 0.75rem;
    font-weight: 600;
    span {
      display: block;
      transform: translateY(0.08rem);
    }
  }
  &__info {
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    display: flex;
    align-items: center;
    gap: 1.56rem;
    p {
      color: var(--cw);
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-size: 0.75rem;
      line-height: 1.33;
      span {
        width: 1rem;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-0.15rem);
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
          saturate(7500%) hue-rotate(176deg) brightness(115%) contrast(115%);
      }
    }
  }
  &__img-wrapp {
    position: relative;
    width: 100%;
    img {
      z-index: 1;
    }
  }
  &__block-grid {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 6.25rem);
    grid-template-rows: repeat(3, 6.25rem);
    div {
      &:nth-child(1) {
        background-color: var(--cs);
      }
      &:nth-child(2) {
        background-color: var(--ca);
      }
      &:nth-child(3) {
        background-color: var(--cb);
      }
      &:nth-child(4) {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--cb);
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2.5rem;
        }
      }
      &:nth-child(5) {
        background-color: var(--cs);
        grid-column: 3 / 4;
        grid-row: 3 / 4;
      }
    }
  }
  &__announce {
    display: flex;
    gap: 1.5rem;
  }
  &__link-wrapp {
    position: absolute;
    top: 1.3rem;
    right: 0;
    display: flex;
    justify-content: center;
    a {
      position: relative;
      color: var(--cm);
      font-size: 0.875rem;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      span {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 0.0625rem;
          background-color: var(--cm);
          transition: all 150ms ease-in;
        }
      }
      &:hover {
        span {
          &::after {
            width: 100%;
          }
        }
      }
      &::after {
        content: "";
        width: 1rem;
        height: 1rem;
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(-0.1rem);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_25_24255)'%3E%3Cpath d='M6.00003 4C6.00003 4 10 6.94593 10 8C10 9.05413 6 12 6 12' stroke='%230B0B0B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_25_24255'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
    }
  }

  .title2 {
    padding-right: 9.125rem;
    margin-bottom: 2rem;
  }
  .title4 {
    display: block;
    color: var(--cw);
    transition: all 150ms ease-in;
    &:hover {
      opacity: 0.7;
    }
  }
}

.announce {
  padding: 1.5rem 1rem;
  background-color: var(--cn);

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  &__lead {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 0.0625rem solid var(--cm);
    font-size: 0.75rem;
    font-weight: 600;
    span {
      display: block;
      transform: translateY(0.08rem);
    }
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 1.56rem;
    p {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-size: 0.75rem;
      line-height: 1.33;
      span {
        width: 1rem;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-0.15rem);
      }
    }
  }
  &__title {
    color: var(--cm);
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.33;
    margin-bottom: 1.5rem;
    transition: all 150ms ease-in;
    &:hover {
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 960px) {
  .current {
    &__aside {
      flex-direction: column;
      gap: 0;
    }
    &__news {
      width: 100%;
      height: auto;
      min-height: 16.5rem;
      box-shadow: none;
    }
    &__img-wrapp {
      height: 16rem;
    }
    &__info {
      gap: 1.5rem;
    }
    &__block-grid {
      grid-template-columns: repeat(3, 4rem);
      grid-template-rows: repeat(3, 4rem);
      div {
        &:nth-child(4) {
          span {
            width: 2rem;
          }
        }
      }
    }
    &__announce {
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 2.75rem;
    }
    &__link-wrapp {
      position: static;
    }

    .title2 {
      padding: 0;
      margin-bottom: 1.5rem;
    }
    .title4 {
      margin-bottom: 4rem;
    }
  }

  .announce {
    padding: 1rem;

    &__info {
      gap: 1.5rem;
    }
    &__title {
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 1.5rem;
    }
  }
}
