<section class="areas sec-pt">
  <div class="container">
    <div class="areas__body">
      <h2 class="title2">Напрямки діяльності</h2>

      <ul class="areas__list">
        <li class="areas__item">
          <span class="areas__icon-wrapp no-select">
            <img src="./img/icons/banner_1.svg" alt="" />
          </span>

          <h5>
            Безперервний<br />
            професійний розвиток
          </h5>
          <p>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </p>

          <div class="areas__block-grid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </li>
        <li class="areas__item">
          <span class="areas__icon-wrapp no-select">
            <img src="./img/icons/banner_2.svg" alt="" />
          </span>

          <h5>
            Профілактика<br />
            захворювань
          </h5>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo.
          </p>

          <div class="areas__block-grid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </li>
        <li class="areas__item">
          <span class="areas__icon-wrapp no-select">
            <img src="./img/icons/banner_3.svg" alt="" />
          </span>

          <h5>
            Імунізація<br />
            суспільства
          </h5>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.
          </p>

          <div class="areas__block-grid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </li>
        <li class="areas__item">
          <span class="areas__icon-wrapp no-select">
            <img src="./img/icons/banner_4.svg" alt="" />
          </span>

          <h5>
            Метнальне<br />
            здоровʼя громадян
          </h5>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo.
          </p>

          <div class="areas__block-grid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </li>
      </ul>

      <div class="areas__btn-wrapp">
        <a href="#" class="btn-def brb"><span>Статут асоціації</span></a>
      </div>
    </div>
  </div>
</section>
