<section class="base sec-pt">
  <div class="container">
    <div class="base__body">
      <h2 class="title2">Нормативна база</h2>
      <ul class="base__list">
        <li class="base__item">
          <div class="base__top">
            <div class="base__lead">
              <span>01</span>
              <h4 class="title4">Методологія</h4>
            </div>
            <a href="#" class="btn-more bgb">
              <span class="btn-text">Читати далі</span>
              <span class="btn-icon"></span>
              <span class="btn-circle"></span>
            </a>
          </div>
          <p>
            оцінювання набутих знань, компетентностей та практичних навичок
            працівників сфери охорони здоров’я в громадській організації
            «Всеукраїнська асоціація фахівців з громадського здоровʼя»
          </p>
        </li>
        <li class="base__item">
          <div class="base__top">
            <div class="base__lead">
              <span>02</span>
              <h4 class="title4">Положення</h4>
            </div>
            <a href="#" class="btn-more bgv">
              <span class="btn-text">Читати далі</span>
              <span class="btn-icon"></span>
              <span class="btn-circle"></span>
            </a>
          </div>
          <p>
            про запобігання конфлікту інтересів під час проведення заходів
            безперервного професійного розвитку та недопущення залучення і
            використання коштів фізичних (юридичних) осіб для реклами лікарських
            засобів, медичних виробів, допоміжних засобів реабілітації або
            медичних послуг в громадській організації «Всеукраїнська асоціація
            фахівців з громадського здоровʼя»
          </p>
        </li>
        <li class="base__item">
          <div class="base__top">
            <div class="base__lead">
              <span>03</span>
              <h4 class="title4">Положення</h4>
            </div>
            <a href="#" class="btn-more bgr">
              <span class="btn-text">Читати далі</span>
              <span class="btn-icon"></span>
              <span class="btn-circle"></span>
            </a>
          </div>
          <p>
            про оцінку заходів безперервного професійного розвитку на ознаки
            академічної доброчесності та дотримання принципів практичної
            медичної/фармацевтичної/реабілітаційної діяльності в громадській
            організації «Всеукраїнська асоціація фахівців з громадського
            здоровʼя»
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
