<section class="structure sec-pt">
  <div class="structure__container">
    <div class="container">
      <div class="structure__body">
        <h2 class="title2">
          Структура<br />
          Асоціації
        </h2>

        <div class="structure__block-grid">
          <div></div>
          <div></div>
          <div></div>
        </div>

        <div class="structure__wrapp">
          <ul class="structure__list-patr1">
            <li>
              <span>A.</span>
              <p>Вищий орган управління</p>
            </li>
          </ul>

          <ul class="structure__list-patr2">
            <li>
              <span>B.</span>
              <p>Голова Організації</p>
            </li>
            <li>
              <span>B.</span>
              <p>Правління</p>
            </li>
            <li>
              <span>B.</span>
              <p>Ревізійна комісія</p>
            </li>
            <li>
              <span>B.</span>
              <p>Етична комісія</p>
            </li>
          </ul>

          <ul class="structure__list-patr3">
            <li>
              <span>C.</span>
              <p>Секретаріат</p>
            </li>
            <li>
              <span>C.</span>
              <p>Голови підрозділів</p>
            </li>
          </ul>

          <div class="structure__vector-1d no-select">
            <img src="./img/decor/structure_1d.png" alt="" />
          </div>
          <div class="structure__vector-td no-select">
            <img src="./img/decor/structure_td.png" alt="" />
          </div>
          <div class="structure__vector-bd no-select">
            <img src="./img/decor/structure_bd.png" alt="" />
          </div>

          <div class="structure__vector-lm no-select">
            <img src="./img/decor/structure_lm.png" alt="" />
          </div>
          <div class="structure__vector-rm no-select">
            <img src="./img/decor/structure_rm.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
