<section class="team sec-pt">
  <div class="container">
    <div class="team__body">
      <h2 class="title2">Наша команда</h2>

      <ul class="team__list">
        <li>
          <div class="team__img-wrapp no-select">
            <img src="./img/content/team_1.jpg" alt="" class="cover" />
          </div>
          <h4 class="title4">Марина Левченко</h4>
          <p>Лікар-інфекціоніст</p>
        </li>
        <li>
          <div class="team__img-wrapp no-select">
            <img src="./img/content/team_2.jpg" alt="" class="cover" />
          </div>
          <h4 class="title4">Сергій Козак</h4>
          <p>Кардіолог, експерт з профілактики серцево-судинних захворювань</p>
        </li>
        <li>
          <div class="team__img-wrapp no-select">
            <img src="./img/content/team_3.jpg" alt="" class="cover" />
          </div>
          <h4 class="title4">Олена Романенко</h4>
          <p>Лікар-імунолог, експерт з вакцинації</p>
        </li>
        <li>
          <div class="team__img-wrapp no-select">
            <img src="./img/content/team_4.jpg" alt="" class="cover" />
          </div>
          <h4 class="title4">Віктор Гончаренко</h4>
          <p>Лікар-педіатр, спеціаліст з дитячого громадського здоров'я</p>
        </li>
        <li>
          <div class="team__img-wrapp no-select">
            <img src="./img/content/team_5.jpg" alt="" class="cover" />
          </div>
          <h4 class="title4">Марина Левченко</h4>
          <p>Лікар-інфекціоніст</p>
        </li>
        <li>
          <div class="team__img-wrapp no-select">
            <img src="./img/content/team_6.jpg" alt="" class="cover" />
          </div>
          <h4 class="title4">Віктор Гончаренко</h4>
          <p>Лікар-педіатр, спеціаліст з дитячого громадського здоров'я</p>
        </li>
        <li>
          <div class="team__img-wrapp no-select">
            <img src="./img/content/team_1.jpg" alt="" class="cover" />
          </div>
          <h4 class="title4">Сергій Козак</h4>
          <p>Кардіолог, експерт з профілактики серцево-судинних захворювань</p>
        </li>
        <li>
          <div class="team__img-wrapp no-select">
            <img src="./img/content/team_2.jpg" alt="" class="cover" />
          </div>
          <h4 class="title4">Олена Романенко</h4>
          <p>Лікар-імунолог, експерт з вакцинації</p>
        </li>
        <li>
          <div class="team__img-wrapp no-select">
            <img src="./img/content/team_3.jpg" alt="" class="cover" />
          </div>
          <h4 class="title4">Віктор Гончаренко</h4>
          <p>Лікар-педіатр, спеціаліст з дитячого громадського здоров'я</p>
        </li>
        <li>
          <div class="team__img-wrapp no-select">
            <img src="./img/content/team_4.jpg" alt="" class="cover" />
          </div>
          <h4 class="title4">Олена Романенко</h4>
          <p>Лікар-імунолог, експерт з вакцинації</p>
        </li>
        <li>
          <div class="team__img-wrapp no-select">
            <img src="./img/content/team_5.jpg" alt="" class="cover" />
          </div>
          <h4 class="title4">Марина Левченко</h4>
          <p>Лікар-інфекціоніст</p>
        </li>
      </ul>

      <div class="team__btn-wrapp">
        <button type="button" class="team__more btn-def brb">
          <span>Показати більше</span>
        </button>
      </div>
    </div>
  </div>
</section>
