<section class="vision sec-pt">
  <div class="container">
    <div class="vision__body">
      <ul class="vision__list">
        <li class="vision__item-part1">
          <div class="vision__info">
            <h3 class="title3">Мета організації</h3>
            <p>
              Захист прав і свобод, задоволення інтересів у сфері охорони
              здоров’я, громадського здоров’я та санітарного благополуччя. Ми
              сприяємо зміцненню системи громадського здоров’я, посиленню її
              суб’єктів і захисту законних інтересів членів, створюючи умови для
              їх максимальної реалізації.
            </p>
          </div>

          <div class="vision__img-wrapp no-select">
            <img src="./img/content/vision_1.jpg" alt="" class="cover" />
            <div class="vision__block-grid">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div>
                <span><img src="./img/icons/mission_target.svg" alt="" /></span>
              </div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </li>
        <li class="vision__item-part2">
          <div class="vision__info">
            <h3 class="title3">Наше бачення розвитку Асоціації</h3>
            <ul>
              <li>
                Створити платформу для взаємодії та обміну досвідом фахівців з
                громадського здоров’я з різних сфер: практики, науки, освіти та
                громадського сектору.
              </li>
              <li>
                Впроваджувати найновіший міжнародний досвід у сфері громадського
                здоров’я в Україні.
              </li>
              <li>
                Бути надійним партнером для державних органів, місцевого
                самоврядування, громад, підприємств і організацій у розбудові
                ефективної системи громадського здоров’я.
              </li>
              <li>
                Реалізувати ідеї та плани, що сприятимуть покращенню проблем
                громадського здоров’я та підвищенню його ролі у житті українців.
              </li>
            </ul>
          </div>

          <div class="vision__img-wrapp no-select">
            <img src="./img/content/vision_2.jpg" alt="" class="cover" />
            <div class="vision__block-grid">
              <div></div>
              <div></div>
              <div>
                <span>
                  <img src="./img/icons/banner_1.svg" alt="" />
                </span>
              </div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
