.nav {
  display: flex;
  align-items: center;
  gap: 4.5625rem;

  &__list {
    display: flex;
    align-items: center;
    gap: 3rem;
    a {
      padding: 0.5rem 0;
      position: relative;
      color: var(--cw);
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.42;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.0625rem;
        background-color: var(--cw);
        transition: all 150ms ease-in;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
  &__link {
  }
  &__wrapp {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__stream {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: var(--cw);
    color: var(--cm);
    font-size: 0.875rem;
    font-weight: 700;
    transition: all 150ms ease-in;
    span {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transform: translateY(0.08rem);
      transition: all 150ms ease-in;
      &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 150ms ease-in;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M1.33203 7.33366C1.33203 5.13377 1.33203 4.03383 2.01545 3.35041C2.69886 2.66699 3.79881 2.66699 5.9987 2.66699H6.66536C8.86523 2.66699 9.96516 2.66699 10.6486 3.35041C11.332 4.03383 11.332 5.13377 11.332 7.33366V8.66699C11.332 10.8669 11.332 11.9668 10.6486 12.6503C9.96516 13.3337 8.86523 13.3337 6.66536 13.3337H5.9987C3.79881 13.3337 2.69886 13.3337 2.01545 12.6503C1.33203 11.9668 1.33203 10.8669 1.33203 8.66699V7.33366Z' stroke='%230B0B0B' stroke-width='1.5'/%3E%3Cpath d='M11.332 5.93691L11.416 5.86765C12.8265 4.70383 13.5318 4.12192 14.0986 4.40289C14.6654 4.68386 14.6654 5.61538 14.6654 7.47841V8.52094C14.6654 10.384 14.6654 11.3155 14.0986 11.5965C13.5318 11.8774 12.8265 11.2955 11.416 10.1317L11.332 10.0624' stroke='%230B0B0B' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='3' cy='13' r='3' fill='%23D91625'/%3E%3C/svg%3E");
      }
    }
    &:hover {
      background-color: var(--cb) !important;
      color: var(--cw);

      span {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M1.33203 7.33366C1.33203 5.13377 1.33203 4.03383 2.01545 3.35041C2.69886 2.66699 3.79881 2.66699 5.9987 2.66699H6.66536C8.86523 2.66699 9.96516 2.66699 10.6486 3.35041C11.332 4.03383 11.332 5.13377 11.332 7.33366V8.66699C11.332 10.8669 11.332 11.9668 10.6486 12.6503C9.96516 13.3337 8.86523 13.3337 6.66536 13.3337H5.9987C3.79881 13.3337 2.69886 13.3337 2.01545 12.6503C1.33203 11.9668 1.33203 10.8669 1.33203 8.66699V7.33366Z' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M11.332 5.93691L11.416 5.86765C12.8265 4.70383 13.5318 4.12192 14.0986 4.40289C14.6654 4.68386 14.6654 5.61538 14.6654 7.47841V8.52094C14.6654 10.384 14.6654 11.3155 14.0986 11.5965C13.5318 11.8774 12.8265 11.2955 11.416 10.1317L11.332 10.0624' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='3' cy='13' r='3' fill='%23D91625'/%3E%3C/svg%3E");
        }
      }
    }
  }
  &__lang {
    position: relative;
    border-radius: 2rem;
    border: 0.0625rem solid var(--cw);
    transition: all 150ms ease-in;
    li > a {
      padding: 0.5rem 1rem;
      gap: 0.5rem;
      display: flex;
      align-items: center;
      color: var(--cw);
      font-size: 0.875rem;
      font-weight: 700;
      span {
        transform: translateY(0.08rem);
      }
      &::before {
        content: "";
        width: 1rem;
        min-width: 1rem;
        height: 1rem;
        background-repeat: no-repeat;
        background-position: center center;
        transition: 0.3s;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_23_26404)'%3E%3Cpath d='M7.9987 14.6666C4.3168 14.6666 1.33203 11.6818 1.33203 7.99992C1.33203 6.13822 2.09513 4.45477 3.32561 3.24527M7.9987 14.6666C7.3567 14.1909 7.45916 13.6369 7.78123 13.0831C8.27643 12.2315 8.27643 12.2315 8.27643 11.0962C8.27643 9.96085 8.9511 9.42852 11.332 9.90465C12.4018 10.1187 13.1814 8.64052 14.5702 9.12858M7.9987 14.6666C11.2959 14.6666 14.034 12.273 14.5702 9.12858M3.32561 3.24527C3.8918 3.30502 4.20881 3.60835 4.73534 4.16469C5.73496 5.22093 6.73456 5.30906 7.40103 4.95698C8.40063 4.42887 7.56063 3.57345 8.73383 3.10857C9.4531 2.82359 9.59016 2.07725 9.24976 1.45045M3.32561 3.24527C4.52866 2.06273 6.17849 1.33325 7.9987 1.33325C8.4263 1.33325 8.8445 1.37351 9.24976 1.45045M14.5702 9.12858C14.6328 8.76172 14.6654 8.38465 14.6654 7.99992C14.6654 4.74563 12.3336 2.03595 9.24976 1.45045' stroke='white' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_23_26404'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
    }
    &:hover {
      .sub-menu {
        visibility: visible;
        opacity: 1;
      }
    }
    .sub-menu {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      z-index: 2;
      top: 100%;
      transform: translateY(0.5rem);
      left: 0;
      right: 0;
      background-color: var(--cw);
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      padding: 0.5rem 1rem;
      transition: all 150ms ease-in;
      a {
        transition: all 300ms ease-in;
        padding: 0;
        width: 100%;
        color: var(--cm);
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_23_32695)'%3E%3Cpath d='M7.9987 14.6663C4.3168 14.6663 1.33203 11.6815 1.33203 7.99967C1.33203 6.13798 2.09513 4.45452 3.32561 3.24502M7.9987 14.6663C7.3567 14.1906 7.45916 13.6367 7.78123 13.0828C8.27643 12.2313 8.27643 12.2313 8.27643 11.0959C8.27643 9.96061 8.9511 9.42827 11.332 9.90441C12.4018 10.1184 13.1814 8.64027 14.5702 9.12834M7.9987 14.6663C11.2959 14.6663 14.034 12.2727 14.5702 9.12834M3.32561 3.24502C3.8918 3.30477 4.20881 3.6081 4.73534 4.16445C5.73496 5.22069 6.73456 5.30882 7.40103 4.95674C8.40063 4.42863 7.56063 3.57321 8.73383 3.10833C9.4531 2.82335 9.59016 2.077 9.24976 1.4502M3.32561 3.24502C4.52866 2.06248 6.17849 1.33301 7.9987 1.33301C8.4263 1.33301 8.8445 1.37327 9.24976 1.4502M14.5702 9.12834C14.6328 8.76147 14.6654 8.38441 14.6654 7.99967C14.6654 4.74539 12.3336 2.03571 9.24976 1.4502' stroke='%230B0B0B' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_23_32695'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
      }
      li {
        display: block;
        padding: 0;
        &:last-child {
          a {
            border-bottom: none;
          }
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: -0.5rem;
        left: 0;
        width: 100%;
        height: 0.5rem;
      }
    }
  }
}

.header {
  &.style-scroll {
    .nav__list {
      a {
        color: var(--cm);
        &::after {
          background-color: var(--cm);
        }
      }
    }
    .nav__stream {
      background-color: var(--cm);
      color: var(--cw);
      span {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M1.33203 7.33366C1.33203 5.13377 1.33203 4.03383 2.01545 3.35041C2.69886 2.66699 3.79881 2.66699 5.9987 2.66699H6.66536C8.86523 2.66699 9.96516 2.66699 10.6486 3.35041C11.332 4.03383 11.332 5.13377 11.332 7.33366V8.66699C11.332 10.8669 11.332 11.9668 10.6486 12.6503C9.96516 13.3337 8.86523 13.3337 6.66536 13.3337H5.9987C3.79881 13.3337 2.69886 13.3337 2.01545 12.6503C1.33203 11.9668 1.33203 10.8669 1.33203 8.66699V7.33366Z' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M11.332 5.93691L11.416 5.86765C12.8265 4.70383 13.5318 4.12192 14.0986 4.40289C14.6654 4.68386 14.6654 5.61538 14.6654 7.47841V8.52094C14.6654 10.384 14.6654 11.3155 14.0986 11.5965C13.5318 11.8774 12.8265 11.2955 11.416 10.1317L11.332 10.0624' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='3' cy='13' r='3' fill='%23D91625'/%3E%3C/svg%3E");
        }
      }
    }
    .nav__lang {
      border: 0.0625rem solid var(--cm);
      li > a {
        color: var(--cm);
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_23_32695)'%3E%3Cpath d='M7.9987 14.6663C4.3168 14.6663 1.33203 11.6815 1.33203 7.99967C1.33203 6.13798 2.09513 4.45452 3.32561 3.24502M7.9987 14.6663C7.3567 14.1906 7.45916 13.6367 7.78123 13.0828C8.27643 12.2313 8.27643 12.2313 8.27643 11.0959C8.27643 9.96061 8.9511 9.42827 11.332 9.90441C12.4018 10.1184 13.1814 8.64027 14.5702 9.12834M7.9987 14.6663C11.2959 14.6663 14.034 12.2727 14.5702 9.12834M3.32561 3.24502C3.8918 3.30477 4.20881 3.6081 4.73534 4.16445C5.73496 5.22069 6.73456 5.30882 7.40103 4.95674C8.40063 4.42863 7.56063 3.57321 8.73383 3.10833C9.4531 2.82335 9.59016 2.077 9.24976 1.4502M3.32561 3.24502C4.52866 2.06248 6.17849 1.33301 7.9987 1.33301C8.4263 1.33301 8.8445 1.37327 9.24976 1.4502M14.5702 9.12834C14.6328 8.76147 14.6654 8.38441 14.6654 7.99967C14.6654 4.74539 12.3336 2.03571 9.24976 1.4502' stroke='%230B0B0B' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_23_32695'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
      }

      .sub-menu {
        background-color: var(--cm);
        a {
          color: var(--cw);
          &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_23_26404)'%3E%3Cpath d='M7.9987 14.6666C4.3168 14.6666 1.33203 11.6818 1.33203 7.99992C1.33203 6.13822 2.09513 4.45477 3.32561 3.24527M7.9987 14.6666C7.3567 14.1909 7.45916 13.6369 7.78123 13.0831C8.27643 12.2315 8.27643 12.2315 8.27643 11.0962C8.27643 9.96085 8.9511 9.42852 11.332 9.90465C12.4018 10.1187 13.1814 8.64052 14.5702 9.12858M7.9987 14.6666C11.2959 14.6666 14.034 12.273 14.5702 9.12858M3.32561 3.24527C3.8918 3.30502 4.20881 3.60835 4.73534 4.16469C5.73496 5.22093 6.73456 5.30906 7.40103 4.95698C8.40063 4.42887 7.56063 3.57345 8.73383 3.10857C9.4531 2.82359 9.59016 2.07725 9.24976 1.45045M3.32561 3.24527C4.52866 2.06273 6.17849 1.33325 7.9987 1.33325C8.4263 1.33325 8.8445 1.37351 9.24976 1.45045M14.5702 9.12858C14.6328 8.76172 14.6654 8.38465 14.6654 7.99992C14.6654 4.74563 12.3336 2.03595 9.24976 1.45045' stroke='white' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_23_26404'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .mob__nav {
    .nav {
      align-items: stretch;
      flex-direction: column;
      gap: 5rem;
      justify-content: space-between;
      height: 100%;

      &__list {
        padding-top: 0.5rem;
        align-items: stretch;
        flex-direction: column;
        gap: 0;
        a {
          display: block;
          padding: 1rem 0;
          color: var(--cm);
          font-size: 1.125rem;
          line-height: 1.55;
          border-bottom: 0.0625rem solid var(--cn);
          &::after {
            bottom: auto;
            left: auto;
            top: 50%;
            right: 0;
            width: 1rem;
            height: 1rem;
            transition: none;
            transform: translateY(-50%);
            background-color: transparent !important;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_25_27370)'%3E%3Cpath d='M6.00003 4C6.00003 4 10 6.94593 10 8C10 9.05413 6 12 6 12' stroke='%230B0B0B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_25_27370'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
          }
          &:hover {
            &::after {
              width: 1rem;
            }
          }
        }
      }
      &__wrapp {
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
        padding-bottom: 2.12rem;
      }
      &__stream {
        width: 100%;
        padding: 0.75rem 1rem;
        background-color: var(--cm);
        color: var(--cw);
        span {
          justify-content: center;
          &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M1.33203 7.33366C1.33203 5.13377 1.33203 4.03383 2.01545 3.35041C2.69886 2.66699 3.79881 2.66699 5.9987 2.66699H6.66536C8.86523 2.66699 9.96516 2.66699 10.6486 3.35041C11.332 4.03383 11.332 5.13377 11.332 7.33366V8.66699C11.332 10.8669 11.332 11.9668 10.6486 12.6503C9.96516 13.3337 8.86523 13.3337 6.66536 13.3337H5.9987C3.79881 13.3337 2.69886 13.3337 2.01545 12.6503C1.33203 11.9668 1.33203 10.8669 1.33203 8.66699V7.33366Z' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M11.332 5.93691L11.416 5.86765C12.8265 4.70383 13.5318 4.12192 14.0986 4.40289C14.6654 4.68386 14.6654 5.61538 14.6654 7.47841V8.52094C14.6654 10.384 14.6654 11.3155 14.0986 11.5965C13.5318 11.8774 12.8265 11.2955 11.416 10.1317L11.332 10.0624' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='3' cy='13' r='3' fill='%23D91625'/%3E%3C/svg%3E");
          }
        }
      }
      &__lang {
        border: 0.0625rem solid var(--cm);
        li > a {
          width: 100%;
          padding: 0.75rem 1rem;
          justify-content: center;
          color: var(--cm);
          &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_23_32695)'%3E%3Cpath d='M7.9987 14.6663C4.3168 14.6663 1.33203 11.6815 1.33203 7.99967C1.33203 6.13798 2.09513 4.45452 3.32561 3.24502M7.9987 14.6663C7.3567 14.1906 7.45916 13.6367 7.78123 13.0828C8.27643 12.2313 8.27643 12.2313 8.27643 11.0959C8.27643 9.96061 8.9511 9.42827 11.332 9.90441C12.4018 10.1184 13.1814 8.64027 14.5702 9.12834M7.9987 14.6663C11.2959 14.6663 14.034 12.2727 14.5702 9.12834M3.32561 3.24502C3.8918 3.30477 4.20881 3.6081 4.73534 4.16445C5.73496 5.22069 6.73456 5.30882 7.40103 4.95674C8.40063 4.42863 7.56063 3.57321 8.73383 3.10833C9.4531 2.82335 9.59016 2.077 9.24976 1.4502M3.32561 3.24502C4.52866 2.06248 6.17849 1.33301 7.9987 1.33301C8.4263 1.33301 8.8445 1.37327 9.24976 1.4502M14.5702 9.12834C14.6328 8.76147 14.6654 8.38441 14.6654 7.99967C14.6654 4.74539 12.3336 2.03571 9.24976 1.4502' stroke='%230B0B0B' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_23_32695'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
          }
        }
        &:hover {
          .sub-menu {
            display: none;
          }
        }
        .sub-menu {
          display: none;
        }
      }
    }
  }
}
