<section class="activitie">
  <div class="container">
    <div class="activitie__body">
      <div class="activitie__aside">
        <div class="activitie__info">
          <ul>
            <li>
              <span>Дата проведення:</span>
              <p>14.04.24-24.04.24</p>
            </li>
            <li>
              <span>Початок:</span>
              <p>17:00</p>
            </li>
            <li>
              <span>Тривалість заходу:</span>
              <p>40 год 30 хв</p>
            </li>
            <li>
              <span>Тип заходу</span>
              <p>Майстер клас</p>
            </li>
            <li>
              <span>БПР бали</span>
              <p>Не нараховуються</p>
            </li>
          </ul>
          <button class="btn-def brw">Додати у календар</button>
        </div>

        <div class="activitie__block-grid">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="activitie__content">
        <div class="activitie__box">
          <ul class="activitie__top">
            <li><span>Майстер клас</span></li>
            <li><span>Лекція</span></li>
          </ul>
          <h3 class="activitie__title">
            Як ефективно планувати та впроваджувати заходи у сфері громадського
            здоров'я у періоди невизначеності та кризи
          </h3>

          <div class="activitie__bottom">
            <button type="button" class="btn-def">Прийняти участь</button>
            <button type="button" class="activitie__scroll no-select">
              <img src="./img/icons/scroll.svg" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
