<section class="stream">
  <div class="stream__wrapp">
    <div class="container">
      <div class="stream__body">
        <div class="stream__info">
          <h2 class="title2">Онлайн трансляція</h2>
          <p class="stream__text">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </p>
        </div>

        <a href="#" class="stream__play">
          <span class="no-select">
            <img src="./img/icons/play_2.svg" alt="" />
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="stream__img-wrapp no-select">
    <img src="./img/content/stream_1.jpg" alt="" class="cover" />
  </div>
  <div class="stream__filter"></div>
</section>
