<section class="trainers sec-pt">
  <div class="container">
    <div class="trainers__body">
      <h2 class="title2">Тренери та Фасилітатори</h2>

      <ul class="trainers__list">
        <li class="trainers__item">
          <div class="trainers__img-wrapp no-select">
            <img src="./img/content/team_1.jpg" alt="" class="cover" />
          </div>

          <div class="trainers__box">
            <h5 class="trainers__name">Наталія Бугаєнко Бугаєнко Буга єнко</h5>

            <div class="trainers__bottom">
              <ul class="trainers__soc">
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/par_3.svg" alt="" class="no-select" />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/par_2.svg" alt="" class="no-select" />
                  </a>
                </li>
              </ul>
              <button type="button" class="trainers__btn-info">
                <span class="no-select">
                  <img src="./img/icons/info.svg" alt="" />
                </span>
              </button>
            </div>
          </div>

          <div class="trainers__desc">
            <div>
              <h6>Наталія Бугаєнко</h6>
              <p>
                Лікар епідеміолог, консультант Швейцарського інституту тропічної
                медицини та громадського здоров’я (SWISS TPH).
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </li>
        <li class="trainers__item">
          <div class="trainers__img-wrapp no-select">
            <img src="./img/content/team_2.jpg" alt="" class="cover" />
          </div>

          <div class="trainers__box">
            <h5 class="trainers__name">Наталія Бугаєнко Бугаєнко Буга єнко</h5>

            <div class="trainers__bottom">
              <ul class="trainers__soc">
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/par_3.svg" alt="" class="no-select" />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/par_2.svg" alt="" class="no-select" />
                  </a>
                </li>
              </ul>
              <button type="button" class="trainers__btn-info">
                <span class="no-select">
                  <img src="./img/icons/info.svg" alt="" />
                </span>
              </button>
            </div>
          </div>

          <div class="trainers__desc">
            <div>
              <h6>Наталія Бугаєнко</h6>
              <p>
                Лікар епідеміолог, консультант Швейцарського інституту тропічної
                медицини та громадського здоров’я (SWISS TPH).
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </li>
        <li class="trainers__item">
          <div class="trainers__img-wrapp no-select">
            <img src="./img/content/team_3.jpg" alt="" class="cover" />
          </div>

          <div class="trainers__box">
            <h5 class="trainers__name">Наталія Бугаєнко Бугаєнко Буга єнко</h5>

            <div class="trainers__bottom">
              <ul class="trainers__soc">
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/par_3.svg" alt="" class="no-select" />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/par_2.svg" alt="" class="no-select" />
                  </a>
                </li>
              </ul>
              <button type="button" class="trainers__btn-info">
                <span class="no-select">
                  <img src="./img/icons/info.svg" alt="" />
                </span>
              </button>
            </div>
          </div>

          <div class="trainers__desc">
            <div>
              <h6>Наталія Бугаєнко</h6>
              <p>
                Лікар епідеміолог, консультант Швейцарського інституту тропічної
                медицини та громадського здоров’я (SWISS TPH).
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </li>
        <li class="trainers__item">
          <div class="trainers__img-wrapp no-select">
            <img src="./img/content/team_4.jpg" alt="" class="cover" />
          </div>

          <div class="trainers__box">
            <h5 class="trainers__name">Наталія Бугаєнко Бугаєнко Буга єнко</h5>

            <div class="trainers__bottom">
              <ul class="trainers__soc">
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/par_3.svg" alt="" class="no-select" />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/par_2.svg" alt="" class="no-select" />
                  </a>
                </li>
              </ul>
              <button type="button" class="trainers__btn-info">
                <span class="no-select">
                  <img src="./img/icons/info.svg" alt="" />
                </span>
              </button>
            </div>
          </div>

          <div class="trainers__desc">
            <div>
              <h6>Наталія Бугаєнко</h6>
              <p>
                Лікар епідеміолог, консультант Швейцарського інституту тропічної
                медицини та громадського здоров’я (SWISS TPH).
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </li>
        <li class="trainers__item">
          <div class="trainers__img-wrapp no-select">
            <img src="./img/content/team_5.jpg" alt="" class="cover" />
          </div>

          <div class="trainers__box">
            <h5 class="trainers__name">Наталія Бугаєнко Бугаєнко Буга єнко</h5>

            <div class="trainers__bottom">
              <ul class="trainers__soc">
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/par_3.svg" alt="" class="no-select" />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/par_2.svg" alt="" class="no-select" />
                  </a>
                </li>
              </ul>
              <button type="button" class="trainers__btn-info">
                <span class="no-select">
                  <img src="./img/icons/info.svg" alt="" />
                </span>
              </button>
            </div>
          </div>

          <div class="trainers__desc">
            <div>
              <h6>Наталія Бугаєнко</h6>
              <p>
                Лікар епідеміолог, консультант Швейцарського інституту тропічної
                медицини та громадського здоров’я (SWISS TPH).
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </li>
        <li class="trainers__item">
          <div class="trainers__img-wrapp no-select">
            <img src="./img/content/team_6.jpg" alt="" class="cover" />
          </div>

          <div class="trainers__box">
            <h5 class="trainers__name">Наталія Бугаєнко Бугаєнко Буга єнко</h5>

            <div class="trainers__bottom">
              <ul class="trainers__soc">
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/par_3.svg" alt="" class="no-select" />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/par_2.svg" alt="" class="no-select" />
                  </a>
                </li>
              </ul>
              <button type="button" class="trainers__btn-info">
                <span class="no-select">
                  <img src="./img/icons/info.svg" alt="" />
                </span>
              </button>
            </div>
          </div>

          <div class="trainers__desc">
            <div>
              <h6>Наталія Бугаєнко</h6>
              <p>
                Лікар епідеміолог, консультант Швейцарського інституту тропічної
                медицини та громадського здоров’я (SWISS TPH).
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </li>
      </ul>

      <div class="trainers__btn-wrapp">
        <button type="button" class="trainers__more btn-def brb">
          Показати більше
        </button>
      </div>
    </div>
  </div>
</section>
