<section class="contacts">
  <div class="container">
    <div class="contacts__body">
      <div class="contacts__content">
        <h2 class="title1">Контакти</h2>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.
        </p>
      </div>

      <div class="contacts__block-grid1">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="contacts__block-grid2">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</section>
