.footer {
  background-color: var(--cb);

  &__top {
    padding: 2rem 0;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.24);
  }
  &__part1 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1.75rem;
  }
  &__box {
  }
  &__info {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    p {
      color: var(--cw);
      font-size: 0.75rem;
      line-height: 1.33;
    }
  }
  &__digital {
    display: flex;
    align-items: start;
    gap: 0.25rem;
    p {
      line-height: 1.66;
    }
    a {
      transform: translateY(-0.1rem);
      width: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__list {
    min-width: 50.9rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 1.5rem;
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      a {
        font-size: 0.875rem;
        line-height: 1.42;
        &::before {
          top: 0.35rem;
        }
      }
    }
    a {
      position: relative;
      display: block;
      color: var(--cw);
      width: fit-content;
      transition: all 150ms ease-in;
      &::after {
        content: "";
        overflow: hidden;
        opacity: 0;
        height: 0.0625rem;
        width: 100%;
        position: absolute;
        bottom: 0.15rem;
        left: 0;
        background-color: var(--cw);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
        pointer-events: none;
        transition: all 150ms ease-in;
      }
      &::before {
        content: "";
        overflow: hidden;
        opacity: 0;
        position: absolute;
        top: 0.6rem;
        left: -0.75rem;
        width: 0.25rem;
        height: 0.25rem;
        flex-shrink: 0;
        border-radius: 50%;
        background-color: var(--cw);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
        pointer-events: none;
        transition: all 150ms ease-in;
      }
      &:hover {
        &::after {
          overflow: visible;
          opacity: 1;
        }
        &::before {
          overflow: visible;
          opacity: 1;
        }
      }
    }
    & > li > a {
      display: block;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }
  &__lead {
    display: block;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__bottom {
    padding: 1.5rem 0;
  }
  &__part2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.19rem;
  }
  &__text {
    color: var(--cw);
    font-size: 0.75rem;
    line-height: 1.33;
    max-width: 44.4375rem;
  }
  &__companies {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      &:nth-child(1) {
        width: 8.28988rem;
      }
      &:nth-child(2) {
        width: 4.75rem;
      }
    }
  }

  .custom-logo-link {
    display: block;
    width: 12rem;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 960px) {
  .footer {
    &__top {
      padding: 2rem 0 1.5rem 0;
    }
    &__part1 {
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
    }
    &__list {
      min-width: inherit;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem 1.5rem;
      ul {
        a {
          font-size: 0.75rem;
          line-height: 1.33;
        }
      }
      & > li > a {
        display: block;
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }
    &__lead {
      font-size: 0.875rem;
      line-height: 1.71;
      margin-bottom: 0.75rem;
    }

    &__part2 {
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
    }
    &__text {
      max-width: 100%;
    }
    &__bottom {
      padding: 1.5rem 0 1.19rem 0;
    }
  }
}

@media screen and (max-width: 660px) {
  .footer {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
