<nav class="nav">
  <ul class="nav__list">
    <li><a href="./about.html" class="nav__link">Про нас</a></li>
    <li><a href="./cpd.html" class="nav__link">БПР</a></li>
    <li><a href="./projects.html" class="nav__link">Проєкти</a></li>
    <li><a href="./activities.html" class="nav__link">Заходи</a></li>
    <li><a href="./news.html" class="nav__link">Новини</a></li>
    <li><a href="./materials.html" class="nav__link">Матеріали</a></li>
    <li><a href="./contacts.html" class="nav__link">Контакти</a></li>
  </ul>

  <div class="nav__wrapp">
    <a href="#" class="nav__stream">
      <span>Трансляція</span>
    </a>

    <ul class="nav__lang">
      <li
        id="menu-item-406"
        class="is-active pll-parent-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-parent menu-item-has-children menu-item-406"
      >
        <a href="#">
          <span>Eng</span>
        </a>
        <ul class="sub-menu">
          <li
            id="menu-item-406-en"
            class="lang-item lang-item-5 lang-item-en current-lang lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
          >
            <a href="/" hreflang="en-GB" lang="en-GB">
              <span>Ukr</span>
            </a>
          </li>
          <li
            id="menu-item-406-en"
            class="lang-item lang-item-5 lang-item-en current-lang lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
          >
            <a href="/" hreflang="en-GB" lang="en-GB">
              <span>Fre</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
