<section class="future">
  <div class="container">
    <div class="future__body">
      <div class="future__top">
        <h2 class="title2">Найближчі заходи</h2>
        <div class="filtercont">
          <ul class="filter__list">
            <li class="filter__item filter__sort">
              <!-- <button type="button" class="filter__sort-btn choice"> -->
              <button type="button" class="filter__sort-btn">
                <span class="filter-new">Спочатку нові</span>
                <span class="filter-old">Спочатку старі</span>
              </button>
            </li>
            <li class="filter__item filter__type">
              <select class="near__select">
                <option value="Lecture" selected>Лекція</option>
                <option value="Seminars">Семінари</option>
                <option value="Activities">Заходи</option>
              </select>
            </li>
          </ul>
        </div>
      </div>

      <ul class="card__list">
        <li class="card__item">
          <div class="card__aside">
            <div class="card__date">
              <p>14.04.24-24.04.24</p>
              <h3>17:00</h3>
            </div>
            <div class="card__duration">
              <p>Тривалість заходу:</p>
              <h5>40 год 30 хв</h5>
            </div>
          </div>

          <div class="card__info">
            <div class="card__top">
              <ul class="card__lead">
                <li><span>Тренінг</span></li>
                <li><span>Лекція</span></li>
              </ul>
              <a href="#" class="btn-more bgb">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>

            <a href="#" class="card__name">
              Негативний вплив війни з росією на поведінкові детермінанти
              формування громадського здоров’я та шляхи його мінімізації
            </a>

            <button type="button" class="card__add">
              <span>Додати в календар</span>
            </button>
          </div>
        </li>

        <li class="card__item">
          <div class="card__aside">
            <div class="card__date">
              <p>14.04.24-24.04.24</p>
              <h3>17:00</h3>
            </div>
            <div class="card__duration">
              <p>Тривалість заходу:</p>
              <h5>40 год 30 хв</h5>
            </div>
          </div>

          <div class="card__info">
            <div class="card__top">
              <ul class="card__lead">
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>
              <a href="#" class="btn-more bgb">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>

            <a href="#" class="card__name">
              Місяць обізнаності про психічне здоров’я. Що таке психічне
              здоров’я?
            </a>

            <button type="button" class="card__add">
              <span>Додати в календар</span>
            </button>
          </div>
        </li>

        <li class="card__item">
          <div class="card__aside">
            <div class="card__date">
              <p>14.04.24-24.04.24</p>
              <h3>17:00</h3>
            </div>
            <div class="card__duration">
              <p>Тривалість заходу:</p>
              <h5>40 год 30 хв</h5>
            </div>
          </div>

          <div class="card__info">
            <div class="card__top">
              <ul class="card__lead">
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>
              <a href="#" class="btn-more bgb">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>

            <a href="#" class="card__name">
              Місяць обізнаності про психічне здоров’я. Що таке психічне
              здоров’я?
            </a>

            <button type="button" class="card__add">
              <span>Додати в календар</span>
            </button>
          </div>
        </li>

        <li class="card__item">
          <div class="card__aside">
            <div class="card__date">
              <p>14.04.24-24.04.24</p>
              <h3>17:00</h3>
            </div>
            <div class="card__duration">
              <p>Тривалість заходу:</p>
              <h5>40 год 30 хв</h5>
            </div>
          </div>

          <div class="card__info">
            <div class="card__top">
              <ul class="card__lead">
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>
              <a href="#" class="btn-more bgb">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>

            <a href="#" class="card__name">
              Місяць обізнаності про психічне здоров’я. Що таке психічне
              здоров’я?
            </a>

            <button type="button" class="card__add">
              <span>Додати в календар</span>
            </button>
          </div>
        </li>

        <li class="card__item">
          <div class="card__aside">
            <div class="card__date">
              <p>14.04.24-24.04.24</p>
              <h3>17:00</h3>
            </div>
            <div class="card__duration">
              <p>Тривалість заходу:</p>
              <h5>40 год 30 хв</h5>
            </div>
          </div>

          <div class="card__info">
            <div class="card__top">
              <ul class="card__lead">
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>
              <a href="#" class="btn-more bgb">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>

            <a href="#" class="card__name">
              Місяць обізнаності про психічне здоров’я. Що таке психічне
              здоров’я?
            </a>

            <button type="button" class="card__add">
              <span>Додати в календар</span>
            </button>
          </div>
        </li>
      </ul>

      <div class="future-pagination">
        <div class="future-pagination__body">
          <button type="button" class="future-pagination__prev">
            <span>Назад</span>
          </button>
          <button type="button" class="future-pagination__number">1</button>
          <button type="button" class="future-pagination__next">
            <span>Далі</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
