.join {
  &__wrapp {
  }
  &__body {
    position: relative;
    background-color: var(--cb);
    padding: 3rem;
    overflow: hidden;
  }
  &__box {
    max-width: 35rem;
  }
  &__title {
    color: var(--cw);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.12;
    text-transform: uppercase;
    margin-bottom: 1.12rem;
  }
  &__text {
    color: var(--cw);
    font-size: 1.125rem;
    line-height: 1.33;
    margin-bottom: 1.5rem;
  }
  &__vector {
    position: absolute;
    top: 1.16rem;
    right: -1.52rem;
    width: 33.48969rem;
  }
}

@media screen and (max-width: 960px) {
  .join {
    &__wrapp {
      overflow: hidden;
      background-color: var(--cb);
    }
    &__body {
      overflow: visible;
      padding: 2rem 0 3.25rem 0;
    }
    &__box {
      max-width: 27rem;
    }
    &__title {
      font-size: 1.75rem;
      font-weight: 600;
      line-height: 1.14;
      margin-bottom: 0.75rem;
    }
    &__text {
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 2.5rem;
    }
    &__vector {
      width: 21rem;
    }
  }
}

@media screen and (max-width: 780px) {
  .join {
    &__vector {
      top: 11rem;
      right: -2.95rem;
      width: 9.25rem;
    }
  }
}
