.articlePage,
.projectPage {
  .wrapper {
    overflow: visible;
  }
}

.paragraph {
  &__body {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 19.125rem 1fr;
    gap: 8.37rem;
  }
  &__sidebar {
  }
  &__article {
    position: sticky;
    top: 4.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    a {
      display: block;
      color: var(--cm);
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.42;
      transition: all 150ms ease-in;
      &.active {
        color: var(--cb);
      }
    }
  }

  &__content {
    & > *:first-child {
      margin-top: 0 !important;
    }
    & > *:last-child {
      margin-bottom: 0 !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 500;
    }

    h1 {
      font-size: 2.188em;
      line-height: 1.2em;
      margin-top: 1.429em;
      margin-bottom: 0.743rem;
    }
    h2 {
      font-size: 2em;
      line-height: 1.25em;
      margin-top: 1.5em;
      margin-bottom: 0.75em;
    }
    h3 {
      font-size: 1.813em;
      line-height: 1.31em;
      margin-top: 1.586em;
      margin-bottom: 0.759em;
    }
    h4 {
      font-size: 1.625em;
      line-height: 1.385em;
      margin-top: 1.692em;
      margin-bottom: 0.769em;
    }
    h5 {
      font-size: 1.5em;
      line-height: 1.417em;
      margin-top: 1.75em;
      margin-bottom: 0.75em;
    }
    h6 {
      font-size: 1.375em;
      line-height: 1.455em;
      margin-top: 1.818em;
      margin-bottom: 0.727em;
    }

    b {
      display: block;
      font-size: 1.125em;
      font-weight: 500;
      line-height: 1.556em;
      margin-top: 1.5rem;
    }

    p {
      font-size: 1em;
      line-height: 1.5em;
      margin-top: 1.5rem;
    }
    a {
      color: var(--cb);
      &:hover {
        text-decoration-line: underline;
      }
    }

    ul:not(.paragraph__points):not(.paragraph__soc ul):not(
        .paragraph__swiper ul
      ) {
      margin-left: 1em;

      li {
        margin-bottom: 1em;
        margin-left: 0.5em;
        list-style: disc;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    ol:not(.paragraph__points):not(.paragraph__soc ol):not(
        .paragraph__swiper ol
      ) {
      padding-left: 1em;
      margin-left: 0;

      li {
        margin-bottom: 0.5em;
        list-style: decimal;
        margin-left: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__points {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    li {
      background-color: var(--cs);
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      div {
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--cb);
        margin-bottom: 1.5rem;
        span {
          width: 2rem;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
            saturate(7499%) hue-rotate(170deg) brightness(100%) contrast(103%);
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      h5 {
        text-align: center;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.33;
      }
      p {
        margin-top: 0.5rem;
        text-align: center;
      }
      &:nth-child(2) {
        background-color: var(--ck);
        div {
          background-color: var(--cv);
        }
      }
      &:nth-child(3) {
        background-color: var(--cj);
        div {
          background-color: var(--cr);
        }
      }
      &:nth-child(4) {
        background-color: var(--ci);
        div {
          background-color: var(--cl);
        }
      }
    }
  }

  &__uploaded {
    margin: 3rem 0;
    .file-link {
      background-color: var(--cn);
      padding: 1rem 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .file-name {
        color: var(--cm);
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.55;
      }

      &:hover {
        .file-name {
          color: var(--cb);
        }
      }
    }
  }

  &__soc {
    margin: 3rem 0;
    p {
      margin-top: 0;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.42;
      margin-bottom: 0.5rem;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        transition: all 150ms ease-in;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  &__swiper {
    margin: 3rem 0;
  }
  &__container {
    margin-bottom: 3rem;
  }
  &__img-wrapp {
    position: relative;
    height: 24rem;
    width: 100%;
  }

  .splide__slide {
    width: 100% !important;
  }
  .splide__arrow {
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

@media screen and (max-width: 960px) {
  .paragraph {
    &__body {
      padding-top: 4rem;
      grid-template-columns: 1fr;
      gap: 0;
    }
    &__sidebar {
      display: none;
    }

    &__content {
      h1 {
        font-size: 1.188em;
        line-height: 1.526em;
      }
      h2 {
        font-size: 1.125em;
        line-height: 1.556em;
      }
      h3 {
        font-size: 1.063em;
        line-height: 1.588em;
      }
      h4,
      h5,
      h6 {
        font-size: 1em;
        line-height: 1.625em;
      }

      b {
        font-size: 1em;
        line-height: 1.5em;
      }

      p {
        font-size: 0.875em;
        line-height: 1.429em;
      }
    }

    &__points {
      margin: 2rem 0;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      li {
        padding: 1.5rem 1rem;
        div {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    &__uploaded {
      margin: 2rem 0;
      .file-link {
        gap: 0.5rem;

        .file-name {
          line-height: 1.33;
        }
      }
    }

    &__soc {
      margin: 2rem 0;
    }

    &__swiper {
      margin: 2rem 0;
    }
    &__container {
      margin-bottom: 1.5rem;
    }
    &__img-wrapp {
      height: 16rem;
    }
  }
}
