.signup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 60;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-flow: column nowrap;
  background-color: rgba(11, 11, 11, 0.64);

  transition: all 150ms ease-in;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    .signup__body {
      transform: scale(1);
    }
  }

  &__container {
    flex: 0 0 auto;
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }

  &__body {
    flex: 0 0 auto;
    margin: 4rem 0;
    position: relative;
    background-color: var(--cw);
    border-radius: 1.5rem;
    max-width: 74.5rem;
    width: 100%;
    overflow: hidden;
    padding: 2rem;
    transform: scale(1);
    transition: all 150ms ease-in;
  }
  &__wrapp {
  }
  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in;
    &:hover {
      opacity: 0.5;
    }
  }

  &__info {
    max-width: 34.25rem;
    margin-bottom: 2rem;

    .title3 {
      margin-bottom: 0.5rem;
    }
  }

  &__form {
  }
  &__box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  &__part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;

    &.is-error {
      .signup__name {
        color: var(--cr);
      }
      .signup__input {
        border-color: var(--cp);
      }
      .block-choose {
        border-color: var(--cr);
        & + span {
          display: none;
        }
      }
      .nice-select {
        border-color: var(--cr) !important;
        & + span {
          display: none;
        }
      }
      .require {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__name {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.42;
    margin-bottom: 0.25rem;
    transition: all 150ms ease-in;
  }
  &__input {
    overflow: hidden;
    color: var(--cm);
    padding: 1rem 3.3rem 1rem 1.5rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--cf);
    background-color: transparent;
    font-size: 1.125rem;
    line-height: 1.33;
    transition: all 150ms ease-in;
    &::placeholder {
      color: var(--ch);
      font-size: 1.125rem;
      line-height: 1.33;
    }
    &:hover,
    &:focus {
      border-color: var(--cm);
    }
  }

  .block-choose {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    border: 0.063rem solid var(--cf);
    border-radius: 0.5rem;

    &__label {
      cursor: pointer;
      padding: 0.25rem;

      input {
        display: none;
        &:checked + .block-choose__box {
          background-color: var(--cl);
          color: var(--cw);
        }
      }
      &:hover .block-choose__box {
        background-color: var(--cf);
        color: var(--cw);
      }
    }
    &__box {
      padding: 0.75rem;
      border-radius: 0.375rem;
      text-align: center;
      font-size: 1.125rem;
      line-height: 1.33;
      transition: all 150ms ease-in;
      color: var(--ch);
      span {
        display: block;
        transform: translateY(0.1rem);
      }
    }
  }

  &__checkbox {
    cursor: pointer;
    display: flex;
    align-items: start;
    gap: 0.575rem;
    margin-bottom: 1.5rem;
    input {
      display: none;
      &:checked + span {
        background-color: var(--cb);
        border-color: var(--cb);
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    span {
      overflow: hidden;
      position: relative;
      border-radius: 0.3rem;
      flex-shrink: 0;
      width: 1.1rem;
      height: 1.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      transform: translateY(-0.08rem);
      border: 0.0625rem solid var(--cm);
      &::after {
        content: "";
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        height: 100%;
        transition: all 150ms ease-in;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.1rem 1.1rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M2.08398 9.99967C2.08398 6.26772 2.08398 4.40175 3.24335 3.24237C4.40273 2.08301 6.2687 2.08301 10.0007 2.08301C13.7326 2.08301 15.5986 2.08301 16.758 3.24237C17.9173 4.40175 17.9173 6.26772 17.9173 9.99967C17.9173 13.7316 17.9173 15.5976 16.758 16.757C15.5986 17.9163 13.7326 17.9163 10.0007 17.9163C6.2687 17.9163 4.40273 17.9163 3.24335 16.757C2.08398 15.5976 2.08398 13.7316 2.08398 9.99967Z' fill='%231771DE' stroke='%231771DE' stroke-width='1.5'/%3E%3Cpath d='M6.66602 11.4583C6.66602 11.4583 7.99935 12.2188 8.66602 13.3333C8.66602 13.3333 10.666 8.95833 13.3327 7.5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
    }
    &.is-error {
      span {
        border-color: var(--cp);
      }
    }
    p {
      color: var(--cd);
      font-size: 0.875rem;
      line-height: 1.42;
    }
  }

  &__select {
  }
  .nice-select {
    display: flex !important;
    align-items: center !important;
    gap: 0.5rem !important;
    justify-content: space-between !important;
    background-color: var(--cw) !important;
    border-radius: 0.5rem !important;
    border: 0.0625rem solid var(--cf) !important;
    height: auto !important;
    padding: 1rem 1.5rem !important;
    font-size: 1.125rem !important;
    line-height: 1.33 !important;
    &:after {
      border: none !important;
      width: 1.25rem !important;
      height: 1.25rem !important;
      margin-top: 0 !important;
      position: static !important;
      transform: rotate(0) !important;
      transform-origin: center !important;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1.25rem 1.25rem !important;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_25_22629)'%3E%3Cpath d='M15 7.50004C15 7.50004 11.3176 12.5 10 12.5C8.68233 12.5 5 7.5 5 7.5' stroke='%230B0B0B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_25_22629'%3E%3Crect width='20' height='20' fill='white' transform='translate(20) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    &.open {
      &::after {
        transform: rotate(-180deg) !important;
      }
    }

    .nice-select-dropdown {
      overflow: hidden !important;
      margin-top: 0.5rem !important;
      border-radius: 0.5rem !important;
      border: 0.0625rem solid var(--cf) !important;
      box-shadow: 0 0.25rem 0.75rem 0 rgba(11, 11, 11, 0.24) !important;
      left: -0.0625rem !important;
      width: calc(100% + 0.125rem) !important;
    }
    .nice-select-search-box {
      padding: 0 !important;
      border-radius: 0 !important;
    }
    .nice-select-search {
      color: var(--cm);
      margin: 0 !important;
      border-radius: 0 !important;
      padding: 1rem 1.5rem !important;
      font-size: 1.125rem !important;
      line-height: 1.33 !important;
      border: none !important;
      border-bottom: 0.0625rem solid var(--cf) !important;
    }
    .list {
      border-radius: 0 !important;
      max-height: 9.5rem !important;
      box-shadow: inset 0px 0px 4px 1px rgba(209, 209, 209, 1);
    }
    .list:hover .option:not(:hover) {
      color: var(--cm) !important;
    }
    .option {
      font-size: 0.875rem !important;
      line-height: 1.42 !important;
      padding: 0.75rem 1.5rem !important;
      border-bottom: 0.0625rem solid var(--cf) !important;
      &:hover {
        font-weight: 400 !important;
        background-color: var(--cn) !important;
      }
      &:last-child {
        border-bottom: none !important;
      }
      &.selected.focus {
        background-color: var(--cn) !important;
        font-weight: 400 !important;
      }
    }
  }
  .current {
    width: 100% !important;
    font-size: 1.125rem !important;
    line-height: 1.33 !important;
    transform: translateY(0.08rem) !important;
  }
  .nice-select-dropdown {
    width: 100% !important;
  }

  .require {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 1.0625rem;
    right: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: center;
    transition: all 150ms ease-in;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' stroke='%23D91625' stroke-width='1.5'/%3E%3Cpath d='M11.9922 15H12.0012' stroke='%23D91625' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 12V8' stroke='%23D91625' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }

  &__send {
    margin-top: 2rem;
    &.disabled {
      cursor: no-drop;
      color: var(--ch);
      background-color: var(--cn);
      &:hover {
        color: var(--ch);
        background-color: var(--cn);
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .signup {
    &__container {
      padding: 0 1rem;
    }
    &__body {
      margin: 2.75rem 0;
      border-radius: 1rem;
      max-width: 45rem;
      padding: 1.5rem 1rem;
    }

    &__close {
      top: 1.5rem;
      right: 1rem;
      width: 1.5rem;
      height: 1.5rem;
    }

    &__info {
      max-width: 100%;

      .title3 {
        font-size: 1.5rem;
        line-height: 1.33;
        margin-bottom: 0.75rem;
      }
    }

    &__box {
      gap: 1.5rem;
      margin-bottom: 0.75rem;
    }
    &__part {
      grid-template-columns: repeat(1, 1fr);
      gap: 1.5rem;
    }

    &__input {
      font-size: 1rem;
      line-height: 1.5;
      padding: 1rem 2.8rem 1rem 1.5rem;
      &::placeholder {
        font-size: 1rem;
        line-height: 1.5;
      }
    }

    &__checkbox {
      span {
        transform: translateY(-0.2rem);
      }
      p {
        font-size: 0.75rem;
        line-height: 1.33;
      }
    }

    .nice-select {
      font-size: 1rem !important;
      line-height: 1.5 !important;

      .nice-select-dropdown {
        margin-top: 0.25rem !important;
      }
      .nice-select-search {
        font-size: 1rem !important;
        line-height: 1.5 !important;
      }
    }
    .current {
      font-size: 1rem !important;
      line-height: 1.5 !important;
    }

    .require {
      bottom: 1.2rem;
      width: 1.25rem;
      height: 1.25rem;
      background-size: 1.25rem 1.25rem;
    }

    &__send {
      width: 100%;
    }
  }
}
