.signup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 11, 11, 0.64);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: center;
  overflow-y: auto;
  padding: 4rem 2rem;
  z-index: 60;
  transition: all 150ms ease-in;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__body {
    position: relative;
    background-color: var(--cw);
    border-radius: 1.5rem;
    max-width: 74.5rem;
    width: 100%;
    overflow: hidden;
    padding: 2rem;
  }
  &__wrapp {
  }

  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in;
    &:hover {
      opacity: 0.5;
    }
  }

  &__info {
    max-width: 34.25rem;
    margin-bottom: 2rem;

    .title3 {
      margin-bottom: 0.5rem;
    }
  }

  &__form {
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 1rem;
  }
  &__part1,
  &__part2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &.is-error {
      .signup__name {
        color: var(--cr);
      }
      .signup__input {
        border-color: var(--cp);
      }
      .require {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__name {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.42;
    transition: all 150ms ease-in;
  }
  &__input {
    color: var(--cm);
    padding: 1rem 3.3rem 1rem 1.5rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--cf);
    background-color: transparent;
    font-size: 1.125rem;
    line-height: 1.33;
    transition: all 150ms ease-in;
    &::placeholder {
      color: var(--ch);
      font-size: 1.125rem;
      line-height: 1.33;
    }
    &:hover,
    &:focus {
      border-color: var(--cm);
    }
  }

  .require {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 1.25rem;
    right: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: center;
    transition: all 150ms ease-in;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' stroke='%23D91625' stroke-width='1.5'/%3E%3Cpath d='M11.9922 15H12.0012' stroke='%23D91625' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 12V8' stroke='%23D91625' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }

  &__checkbox {
    cursor: pointer;
    display: flex;
    align-items: start;
    gap: 0.575rem;
    margin-bottom: 1.5rem;
    input {
      display: none;
      &:checked + span {
        background-color: var(--cb);
        border-color: var(--cb);
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    span {
      overflow: hidden;
      position: relative;
      border-radius: 0.3rem;
      flex-shrink: 0;
      width: 1.1rem;
      height: 1.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: 0.0625rem solid var(--cm);
      &::after {
        content: "";
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 150ms ease-in;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M2.08398 9.99967C2.08398 6.26772 2.08398 4.40175 3.24335 3.24237C4.40273 2.08301 6.2687 2.08301 10.0007 2.08301C13.7326 2.08301 15.5986 2.08301 16.758 3.24237C17.9173 4.40175 17.9173 6.26772 17.9173 9.99967C17.9173 13.7316 17.9173 15.5976 16.758 16.757C15.5986 17.9163 13.7326 17.9163 10.0007 17.9163C6.2687 17.9163 4.40273 17.9163 3.24335 16.757C2.08398 15.5976 2.08398 13.7316 2.08398 9.99967Z' fill='%231771DE' stroke='%231771DE' stroke-width='1.5'/%3E%3Cpath d='M6.66602 11.4583C6.66602 11.4583 7.99935 12.2188 8.66602 13.3333C8.66602 13.3333 10.666 8.95833 13.3327 7.5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
    }
    &.is-error {
      span {
        border-color: var(--cp);
      }
    }
    p {
      color: var(--cd);
      font-size: 0.875rem;
      line-height: 1.42;
    }
  }

  &__send {
    margin-top: 2rem;
    &.disabled {
      cursor: no-drop;
      color: var(--ch);
      background-color: var(--cn);
      &:hover {
        color: var(--ch);
        background-color: var(--cn);
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .signup {
    padding: 2.75rem 1rem;

    &__body {
      border-radius: 1rem;
      max-width: 45rem;
      padding: 1.5rem 1rem;
    }

    &__close {
      top: 1.5rem;
      right: 1rem;
      width: 1.5rem;
      height: 1.5rem;
    }

    &__info {
      max-width: 100%;

      .title3 {
        font-size: 1.5rem;
        line-height: 1.33;
        margin-bottom: 0.75rem;
      }
    }

    &__box {
      grid-template-columns: repeat(1, 1fr);
      gap: 1.5rem;
      margin-bottom: 0.75rem;
    }
    &__part1,
    &__part2 {
      gap: 1.5rem;
    }

    &__input {
      padding: 1rem 2.8rem 1rem 1.5rem;
    }

    .require {
      bottom: 1rem;
      width: 1.25rem;
      height: 1.25rem;
      background-size: 1.25rem 1.25rem;
    }

    &__checkbox {
      span {
        transform: translateY(-0.2rem);
      }
      p {
        font-size: 0.75rem;
        line-height: 1.33;
      }
    }

    &__send {
      width: 100%;
    }
  }
}
