<section class="banner">
  <div class="banner__carousell">
    <ul class="banner__list carousell-part1">
      <li class="banner__item">
        <span class="no-select">
          <img src="./img/icons/banner_1.svg" alt="" />
        </span>
        <p>Безперервний професійний розвиток</p>
      </li>
      <li class="banner__item">
        <span class="no-select">
          <img src="./img/icons/banner_2.svg" alt="" />
        </span>
        <p>Профілактика захворювань</p>
      </li>
      <li class="banner__item">
        <span class="no-select">
          <img src="./img/icons/banner_3.svg" alt="" />
        </span>
        <p>Імунізація</p>
      </li>
      <li class="banner__item">
        <span class="no-select">
          <img src="./img/icons/banner_4.svg" alt="" />
        </span>
        <p>Ментальне здоров'я</p>
      </li>
    </ul>
    <ul class="banner__list carousell-part2">
      <li class="banner__item">
        <span class="no-select">
          <img src="./img/icons/banner_1.svg" alt="" />
        </span>
        <p>Безперервний професійний розвиток</p>
      </li>
      <li class="banner__item">
        <span class="no-select">
          <img src="./img/icons/banner_2.svg" alt="" />
        </span>
        <p>Профілактика захворювань</p>
      </li>
      <li class="banner__item">
        <span class="no-select">
          <img src="./img/icons/banner_3.svg" alt="" />
        </span>
        <p>Імунізація</p>
      </li>
      <li class="banner__item">
        <span class="no-select">
          <img src="./img/icons/banner_4.svg" alt="" />
        </span>
        <p>Ментальне здоров'я</p>
      </li>
    </ul>
  </div>
</section>
