<section class="closest sec-pt">
  <div class="container">
    <div class="closest__body">
      <h2 class="title2">найближчі заходи</h2>

      <ul class="card__list">
        <li class="card__item">
          <div class="card__aside">
            <div class="card__date">
              <p>14.04.24-24.04.24</p>
              <h3>17:00</h3>
            </div>
            <div class="card__box">
              <div class="card__duration">
                <p>Тривалість заходу:</p>
                <h5>40 год 30 хв</h5>
              </div>
              <div class="card__points">
                <p>Бали БПР:</p>
                <h5>20 балів</h5>
              </div>
            </div>
          </div>

          <div class="card__info">
            <div class="card__top">
              <ul class="card__lead">
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>
              <a href="./activities.html" class="btn-more bgb">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>

            <a href="./activities.html" class="card__name">
              Як ефективно планувати та впроваджувати заходи у сфері
              громадського здоров'я у періоди невизначеності та кризи
            </a>

            <button type="button" class="card__add">
              <span>Додати в календар</span>
            </button>
          </div>
        </li>

        <li class="card__item">
          <div class="card__aside">
            <div class="card__date">
              <p>14.04.24-24.04.24</p>
              <h3>17:00</h3>
            </div>
            <div class="card__duration">
              <p>Тривалість заходу:</p>
              <h5>40 год 30 хв</h5>
            </div>
          </div>

          <div class="card__info">
            <div class="card__top">
              <ul class="card__lead">
                <li><span>Тренінг</span></li>
                <li><span>Лекція</span></li>
              </ul>
              <a href="./activities.html" class="btn-more bgl">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>

            <a href="./activities.html" class="card__name">
              Негативний вплив війни з росією на поведінкові детермінанти
              формування громадського здоров’я та шляхи його мінімізації
            </a>

            <button type="button" class="card__add">
              <span>Додати в календар</span>
            </button>
          </div>
        </li>

        <li class="card__item">
          <div class="card__aside">
            <div class="card__date">
              <p>14.04.24-24.04.24</p>
              <h3>17:00</h3>
            </div>
            <div class="card__duration">
              <p>Тривалість заходу:</p>
              <h5>40 год 30 хв</h5>
            </div>
          </div>

          <div class="card__info">
            <div class="card__top">
              <ul class="card__lead">
                <li><span>Майстер клас</span></li>
                <li><span>БПР</span></li>
              </ul>
              <a href="./activities.html" class="btn-more bgb">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>

            <a href="./activities.html" class="card__name">
              Місяць обізнаності про психічне здоров’я. Що таке психічне
              здоров’я?
            </a>

            <button type="button" class="card__add">
              <span>Додати в календар</span>
            </button>
          </div>
        </li>
      </ul>

      <div class="closest__btn-wrapp">
        <a href="./activities.html" class="btn-def brb">
          <span>Всі події</span>
        </a>
      </div>
    </div>
  </div>
</section>
