<section class="current sec-pt">
  <div class="container">
    <div class="current__body">
      <h2 class="title2">Актуальні новини</h2>
      <div class="current__wrapp">
        <ul class="current__aside">
          <li class="current__news">
            <div class="current__top">
              <p class="current__lead">Новини</p>
              <a href="#" class="btn-more bgw">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>
            <a href="#" class="title4">
              В Івано-Франківську відбулись загальні збори Всеукраїнської
              асоціації фахівців з громадського здоровʼя
            </a>
            <div class="current__info">
              <p>
                <span><img src="./img/icons/current_1.svg" alt="" /></span>
                8 хв читання
              </p>
              <p>
                <span><img src="./img/icons/current_2.svg" alt="" /></span>
                28.07.2024
              </p>
            </div>
          </li>
          <li class="current__img-wrapp">
            <img src="./img/content/current_1.jpg" alt="" class="cover" />
            <div class="current__block-grid">
              <div></div>
              <div></div>
              <div></div>
              <div>
                <span class="no-select">
                  <img src="./img/icons/current_calend.svg" alt="" />
                </span>
              </div>
              <div></div>
            </div>
          </li>
        </ul>

        <ul class="current__announce">
          <li class="announce">
            <div class="announce__top">
              <p class="announce__lead">Анонс</p>
              <a href="#" class="btn-more">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>
            <a href="#" class="announce__title">
              Третій випуск Інформаційного бюлетеня нормативних змін у сфері
              громадського здоров’я
            </a>
            <div class="announce__info">
              <p>
                <span><img src="./img/icons/current_1.svg" alt="" /></span>
                8 хв читання
              </p>
              <p>
                <span><img src="./img/icons/current_2.svg" alt="" /></span>
                28.07.2024
              </p>
            </div>
          </li>
          <li class="announce">
            <div class="announce__top">
              <p class="announce__lead">Анонс</p>
              <a href="#" class="btn-more">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>
            <a href="#" class="announce__title">
              Третій випуск Інформаційного бюлетеня нормативних змін у сфері
              громадського здоров’я
            </a>
            <div class="announce__info">
              <p>
                <span><img src="./img/icons/current_1.svg" alt="" /></span>
                8 хв читання
              </p>
              <p>
                <span><img src="./img/icons/current_2.svg" alt="" /></span>
                28.07.2024
              </p>
            </div>
          </li>
          <li class="announce">
            <div class="announce__top">
              <p class="announce__lead">Анонс</p>
              <a href="#" class="btn-more">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>
            <a href="#" class="announce__title">
              Третій випуск Інформаційного бюлетеня нормативних змін у сфері
              громадського здоров’я
            </a>
            <div class="announce__info">
              <p>
                <span><img src="./img/icons/current_1.svg" alt="" /></span>
                8 хв читання
              </p>
              <p>
                <span><img src="./img/icons/current_2.svg" alt="" /></span>
                28.07.2024
              </p>
            </div>
          </li>
        </ul>

        <div class="current__link-wrapp">
          <a href="#">
            <span>Більше новин</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
