<section class="function">
  <div class="container">
    <div class="function__body">
      <h2 class="title2">Наша діяльність</h2>

      <div class="function__container">
        <div class="function__splide splide">
          <div class="function__track splide__track">
            <ul class="function__list splide__list">
              <li class="function__item splide__slide">
                <span class="function__number">01</span>
                <h3 class="title3">
                  Безперервний<br />
                  професійний розвиток
                </h3>
                <p>
                  Постійне вдосконалення професійних навичок. Ексклюзивно для
                  медиків ефективна спеціалізована освіта, доступна у будь-який
                  час. Станьте частиною нашої спільноти!
                </p>

                <div class="function__decor-wrapp">
                  <img src="./img/decor/function_1.png" alt="" />
                </div>
              </li>
              <li class="function__item splide__slide">
                <span class="function__number">02</span>
                <h3 class="title3">
                  Імунізація<br />
                  суспільства
                </h3>
                <p>
                  Постійне вдосконалення професійних навичок. Ексклюзивно для
                  медиків ефективна спеціалізована освіта, доступна у будь-який
                  час. Станьте частиною нашої спільноти!
                </p>

                <div class="function__decor-wrapp">
                  <img src="./img/decor/function_2.png" alt="" />
                </div>
              </li>
              <li class="function__item splide__slide">
                <span class="function__number">03</span>
                <h3 class="title3">
                  Профілактика<br />
                  захворювань
                </h3>
                <p>
                  Постійне вдосконалення професійних навичок. Ексклюзивно для
                  медиків ефективна спеціалізована освіта, доступна у будь-який
                  час. Станьте частиною нашої спільноти!
                </p>

                <div class="function__decor-wrapp">
                  <img src="./img/decor/function_3.png" alt="" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="function-arrows">
        <div class="function-arrows__body">
          <button type="button" class="function-arrows__prev">
            <span>Назад</span>
          </button>
          <span class="function-arrows__number">1/1</span>
          <button type="button" class="function-arrows__next">
            <span>Далі</span>
          </button>
        </div>
      </div>

      <div class="function__link-wrapp">
        <a href="./news.html">
          <span>Детальніше</span>
        </a>
      </div>
    </div>
  </div>
</section>
