<section class="hero">
  <div class="hero__splide splide">
    <div class="hero__body splide__track">
      <ul class="hero__list splide__list">
        <li class="hero__item splide__slide">
          <div class="hero__content">
            <div class="container">
              <div class="hero__box">
                <h1 class="title1 tcw">
                  ВСЕУКРАЇНСЬКА<br />
                  АСОЦІАЦІЯ ФАХІВЦІВ<br />
                  З ГРОМАДСЬКОГО ЗДОРОВ’Я
                </h1>
                <a href="#" class="hero__link">
                  <span class="hero__link-text">Останні Новини</span>
                  <div class="hero__link-icon no-select">
                    <span>
                      <img src="./img/icons/hero_1.svg" alt="" />
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="hero__bg no-select">
            <img src="./img/content/hero_1.jpg" alt="" />
          </div>
          <div class="hero__filter"></div>
        </li>

        <li class="hero__item splide__slide">
          <div class="hero__content">
            <div class="container">
              <div class="hero__box">
                <h2 class="title1 tcw">
                  ВСЕУКРАЇНСЬКА<br />
                  АСОЦІАЦІЯ ФАХІВЦІВ<br />
                  З ГРОМАДСЬКОГО ЗДОРОВ’Я
                </h2>
                <a href="#" class="hero__link">
                  <span class="hero__link-text">Останні Новини</span>
                  <div class="hero__link-icon no-select">
                    <span>
                      <img src="./img/icons/hero_1.svg" alt="" />
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="hero__bg no-select">
            <img src="./img/content/hero_2.jpg" alt="" />
          </div>
          <div class="hero__filter"></div>
        </li>

        <li class="hero__item splide__slide">
          <div class="hero__content">
            <div class="container">
              <div class="hero__box">
                <h2 class="title1 tcw">
                  ВСЕУКРАЇНСЬКА<br />
                  АСОЦІАЦІЯ ФАХІВЦІВ<br />
                  З ГРОМАДСЬКОГО ЗДОРОВ’Я
                </h2>
                <a href="#" class="hero__link">
                  <span class="hero__link-text">Останні Новини</span>
                  <div class="hero__link-icon no-select">
                    <span>
                      <img src="./img/icons/hero_1.svg" alt="" />
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="hero__bg no-select">
            <img src="./img/content/hero_3.jpg" alt="" />
          </div>
          <div class="hero__filter"></div>
        </li>
      </ul>
    </div>
  </div>

  <div class="arrows">
    <div class="container">
      <div class="arrows__body">
        <div class="arrows__box">
          <div class="arrows__wrapp">
            <button type="button" class="arrows__prev"><span></span></button>
            <span class="arrows__number">1/1</span>
            <button type="button" class="arrows__next"><span></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
