<section class="mission sec-pt">
  <div class="container">
    <div class="mission__body">
      <h2 class="title2">Excepteur sint occaecat cupidatat non proident</h2>

      <div class="mission__content">
        <div class="mission__img-wrapp no-select">
          <img src="./img/content/mission_1.jpg" alt="" class="cover" />
          <div class="mission__block-grid">
            <div></div>
            <div>
              <span>
                <img src="./img/icons/mission_target.svg" alt="" />
              </span>
            </div>
            <div></div>
            <div></div>
          </div>
        </div>
        <ul class="mission__list">
          <li>
            <h4 class="title4">Наша Місія</h4>
            <p>
              Асоціація обʼєднує лідерів громадського здоровʼя, щоб українці
              були обізнаними, свідомими та самозарадними з питань збереження та
              зміцнення громадського здоровʼя, що є гарантовано державою
            </p>
          </li>
          <li>
            <h4 class="title4">Наша Візія</h4>
            <p>
              Українці є обізнаними, свідомими та самозарадними з питань
              збереження та зміцнення громадського здоровʼя, що є гарантовано
              державою
            </p>
          </li>
        </ul>
      </div>

      <div class="mission__link-wrapp">
        <a href="./about.html" class="btn-def">
          <span>Дізнатись більше</span>
        </a>
      </div>
    </div>
  </div>
</section>
