<section class="partners sec-pt">
  <div class="partners__body">
    <div class="container">
      <h2 class="title2">Наші партнери</h2>
    </div>
    <div class="partners__carousell">
      <ul class="partners__list">
        <li class="no-select">
          <img src="./img/content/partners_1.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_2.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_3.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_4.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_5.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_6.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_1.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_2.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_3.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_4.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_5.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_6.png" alt="" />
        </li>
      </ul>
      <ul class="partners__list">
        <li class="no-select">
          <img src="./img/content/partners_1.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_2.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_3.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_4.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_5.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_6.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_1.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_2.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_3.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_4.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_5.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partners_6.png" alt="" />
        </li>
      </ul>
    </div>
  </div>
</section>
