<section class="working sec-pt">
  <div class="container">
    <div class="working__body">
      <h2 class="title2">Що ми робимо</h2>

      <div class="working__wrapp">
        <div class="working__info">
          <p>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </p>
          <div class="working__img-wrapp no-select">
            <div class="working__img-box">
              <img src="./img/content/working_1.jpg" alt="" class="cover" />
            </div>

            <div class="working__block-grid">
              <div></div>
              <div></div>
              <div>
                <span class="no-select">
                  <img src="./img/icons/working_1.svg" alt="" />
                </span>
              </div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>

        <ul class="working__list">
          <li>
            <div>
              <span>01</span>
              <h3 class="title3">Досліджуємо</h3>
            </div>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>
          </li>
          <li>
            <div>
              <span>02</span>
              <h3 class="title3">Навчаємо</h3>
            </div>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>
          </li>
          <li>
            <div>
              <span>03</span>
              <h3 class="title3">Розробляємо</h3>
            </div>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
