<section class="materials">
  <div class="container">
    <div class="materials__body">
      <div class="materials__info">
        <h2 class="title1">Документи та публікації</h2>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.
        </p>
      </div>

      <div class="materials__wrapp search">
        <div class="search__form">
          <div
            class="facetwp-facet facetwp-facet-search facetwp-type-search"
            data-name="search"
            data-type="search"
          >
            <span class="facetwp-input-wrap">
              <i class="facetwp-icon"></i>
              <input
                type="text"
                class="facetwp-search"
                value=""
                autocomplete="off"
                placeholder="Пишіть тут"
              />
            </span>
          </div>
        </div>

        <div
          class="facetwp-facet facetwp-facet-catnews facetwp-type-radio"
          data-name="catnews"
          data-type="radio"
        >
          <div class="facetwp-radio checked" data-value="">Всі проєкти</div>
          <div
            class="facetwp-radio"
            data-value="ed7df4ea6900263dbd71bb29a2ae122b"
          >
            <span class="facetwp-display-value">Анонс</span>
            <span class="facetwp-counter">(36)</span>
          </div>
          <div class="facetwp-radio" data-value="zvity">
            <span class="facetwp-display-value">Новина</span>
            <span class="facetwp-counter">(20)</span>
          </div>
          <div class="facetwp-radio" data-value="obid-bez-bid">
            <span class="facetwp-display-value">Звіти</span>
            <span class="facetwp-counter">(20)</span>
          </div>
          <div class="facetwp-radio" data-value="trudolyub">
            <span class="facetwp-display-value">БПР</span>
            <span class="facetwp-counter">(19)</span>
          </div>
          <div class="facetwp-radio" data-value="zhyttyelyub-pikluyetsya">
            <span class="facetwp-display-value">Подія</span>
            <span class="facetwp-counter">(13)</span>
          </div>
          <div class="facetwp-radio" data-value="zhyttyelyub-pikluyetsya">
            <span class="facetwp-display-value">Майстер клас</span>
            <span class="facetwp-counter">(13)</span>
          </div>
          <div class="facetwp-radio" data-value="zhyttyelyub-pikluyetsya">
            <span class="facetwp-display-value">Лекція</span>
            <span class="facetwp-counter">(13)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
