<section class="table">
  <div class="container">
    <div class="table__body">
      <div class="table__content">
        <div class="table__header">
          <div><p>Назва документу</p></div>
          <div><p>Дата публікації</p></div>
          <div><p>Категорія</p></div>
        </div>
        <ul class="table__main">
          <li>
            <div>
              <p>
                Аналіз стану громадського здоров'я в Україні: Підсумки за 2023
                рік
              </p>
            </div>
            <div>
              <p>24.04.24</p>
            </div>
            <div><p>Звіти</p></div>
            <div>
              <a href="#"><span>Переглянути</span></a>
            </div>
          </li>
          <li>
            <div>
              <p>
                Аналіз стану громадського здоров'я в Україні: Підсумки за 2023
                рік
              </p>
            </div>
            <div><p>24.04.24</p></div>
            <div><p>Звіти</p></div>
            <div>
              <a href="#"><span>Переглянути</span></a>
            </div>
          </li>
          <li>
            <div>
              <p>
                Аналіз стану громадського здоров'я в Україні: Підсумки за 2023
                рік
              </p>
            </div>
            <div><p>24.04.24</p></div>
            <div><p>Звіти</p></div>
            <div>
              <a href="#"><span>Переглянути</span></a>
            </div>
          </li>
          <li>
            <div>
              <p>
                Аналіз стану громадського здоров'я в Україні: Підсумки за 2023
                рік
              </p>
            </div>
            <div><p>24.04.24</p></div>
            <div><p>Звіти</p></div>
            <div>
              <a href="#"><span>Переглянути</span></a>
            </div>
          </li>
        </ul>
      </div>

      <div class="pagination__cont">
        <div
          class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
          data-name="pagination"
          data-type="pager"
        >
          <div class="facetwp-pager">
            <a class="facetwp-page prev" data-page="1"><span>Назад</span></a>
            <a class="facetwp-page first" data-page="1">1</a>
            <a class="facetwp-page active" data-page="2">2</a>
            <a class="facetwp-page" data-page="3">3</a>
            <a class="facetwp-page dots">…</a>
            <a class="facetwp-page last" data-page="12">12</a>
            <a class="facetwp-page next" data-page="3"><span>Далі</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
