<section class="article">
  <div class="article__wrapp">
    <div class="container">
      <div class="article__body">
        <div class="article__content">
          <div class="article__top">
            <p class="article__lead"><span>Новина</span></p>
            <ul class="article__date">
              <li><span>8 хв читання</span></li>
              <li><span>28.07.2024</span></li>
            </ul>
          </div>
          <h2 class="article__title">
            Третій випуск Інформаційного бюлетеня нормативних змін у сфері
            громадського здоров’я
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="article__img-wrapp">
    <img src="./img/content/article_1.jpg" alt="" class="cover" />
  </div>
  <div class="article__filter"></div>
</section>
