<section class="similar sec-pt">
  <div class="container">
    <div class="similar__body">
      <h2 class="title2">Схожі статті</h2>
      <ul class="events__list">
        <li>
          <div class="events__img-wrapp">
            <img src="./img/content/article_1.jpg" alt="" class="cover" />
          </div>
          <div class="events__box">
            <div class="events__top">
              <p class="events__lead"><span>Анонс</span></p>
              <a href="#" class="btn-more">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>
            <a href="#" class="events events__title">
              Третій випуск Інформаційного бюлетеня нормативних змін у сфері
              громадського здоров’я
            </a>
            <ul>
              <li><span>8 хв читання</span></li>
              <li><span>28.07.2024</span></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="events__img-wrapp">
            <img src="./img/content/current_1.jpg" alt="" class="cover" />
          </div>
          <div class="events__box">
            <div class="events__top">
              <p class="events__lead"><span>Новина</span></p>
              <a href="#" class="btn-more">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>
            <a href="#" class="events events__title">
              Третій випуск Інформаційного бюлетеня нормативних змін у сфері
              громадського здоров’я
            </a>
            <ul>
              <li><span>8 хв читання</span></li>
              <li><span>28.07.2024</span></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="events__img-wrapp">
            <img src="./img/content/archive_1.jpg" alt="" class="cover" />
          </div>
          <div class="events__box">
            <div class="events__top">
              <p class="events__lead"><span>Звіт</span></p>
              <a href="#" class="btn-more">
                <span class="btn-text">Читати далі</span>
                <span class="btn-icon"></span>
                <span class="btn-circle"></span>
              </a>
            </div>
            <a href="#" class="events events__title">
              Третій випуск Інформаційного бюлетеня нормативних змін у сфері
              громадського здоров’я
            </a>
            <ul>
              <li><span>8 хв читання</span></li>
              <li><span>28.07.2024</span></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
